/* Numeric */
.diagonal-fractions {
    font-variant-numeric: diagonal-fractions;
}

/* Background colors */
.bg-super-light {
    background-color: #fbfbfb;
}

/* Background attachment */
.bg-fixed {
    background-attachment: fixed;
}

.bg-local {
    background-attachment: local;
}

.bg-scroll {
    background-attachment: scroll;
}

/* Overflow */
.overflow-y-scroll {
    overflow-y: scroll;
}

.overflow-x-scroll {
    overflow-x: scroll;
}

/* Tables */
.table-fixed {
    table-layout: fixed;
}

.table-auto {
    table-layout: auto;
}
