// Blockquotes.
@use "../mixins/rfs";
@use "../variables/typography";
@use "../variables/features";

@if (features.$include-helpers and features.$include-blockquote-helpers) {
    .blockquote {
        margin-bottom: typography.$blockquote-margin-y;
        @include rfs.font-size(typography.$blockquote-font-size);

        > :last-child {
            margin-bottom: 0;
        }
    }

    .blockquote-footer {
        margin-top: typography.$blockquote-margin-y * -1;
        margin-bottom: typography.$blockquote-margin-y;
        @include rfs.font-size(typography.$blockquote-footer-font-size);
        color: typography.$blockquote-footer-color;

        &::before {
            content: '\2014\00A0'; // em dash, nbsp
        }
    }
}
