// Container widths
//
// Set the container width, and override it for fixed navbars in media queries.

@use "../mixins/container";
@use "../mixins/breakpoints";
@use "../variables/features";
@use "../variables/grid";

@if (features.$include-helpers and features.$include-container-helpers) {
    // Single container class with breakpoint max-widths
    .container,
        // 100% wide container at all breakpoints
    .container-fluid {
        @include container.make-container();
    }

    @if (features.$enable-grid-classes) {
        // Responsive containers that are 100% wide until a breakpoint
        @each $breakpoint, $container-max-width in grid.$container-max-widths {
            .container-#{$breakpoint} {
                @extend .container-fluid;
            }

            @include breakpoints.media-breakpoint-up($breakpoint, grid.$grid-breakpoints) {
                %responsive-container-#{$breakpoint} {
                    max-width: $container-max-width;
                }

                // Extend each breakpoint which is smaller or equal to the current breakpoint
                $extend-breakpoint: true;

                @each $name, $width in grid.$grid-breakpoints {
                    @if ($extend-breakpoint) {
                        .container#{breakpoints.breakpoint-infix($name, grid.$grid-breakpoints)} {
                            @extend %responsive-container-#{$breakpoint};
                        }

                        // Once the current breakpoint is reached, stop extending
                        @if ($breakpoint == $name) {
                            $extend-breakpoint: false;
                        }
                    }
                }
            }
        }
    }
}
