@import '../mixins';
@import '../variables/css-grid';
@import '../variables/grid';
@import "../variables/features";

@if ($include-helpers and $include-css-grid-helpers) {

    .d-grid {
        display: grid;
        justify-content: stretch;
        justify-items: stretch;
        align-items: flex-start;
    }

    .grid-items-align-top {
        align-items: flex-start !important;
    }

    .grid-items-align-middle {
        align-items: center !important;
    }

    .grid-items-align-bottom {
        align-items: flex-end !important;
    }

    .grid-columns-auto-fit-100 {
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    }

    .grid-columns-auto-fit-200 {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    .grid-columns-auto-fit-300 {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

    .grid-rows-same-height-auto {
        grid-auto-rows: auto;
    }

    .grid-rows-same-height-min-content {
        grid-auto-rows: min-content;
    }

    .grid-rows-same-height-max-content {
        grid-auto-rows: max-content;
    }

    @each $breakpoint in map-keys($grid-breakpoints) {
        $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

        @include media-breakpoint-up($breakpoint) {
            @include css-grid-classes($infix);
        }
    }
}
