// Content Ratio.
// Credit: Nicolas Gallagher and SUIT CSS.
@use "../variables/css-variables";
@use "../variables/aspect-ratios";
@use "../variables/features";

@if (features.$include-helpers and features.$include-ratio-helpers) {
    .ratio {
        position: relative;
        width: 100%;

        &::before {
            display: block;
            padding-top: var(--#{css-variables.$variable-prefix}aspect-ratio);
            content: '';
        }

        > * {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

    @each $key, $ratio in aspect-ratios.$aspect-ratios {
        .ratio-#{$key} {
            --#{css-variables.$variable-prefix}aspect-ratio: #{$ratio};
        }
    }
}
