// Text-related helpers.
@use "../mixins/rfs";
@use "../mixins/text-truncate";
@use "../global/reboot";
@use "../variables/features";
@use "../variables/typography";
@use "../variables/utility-values";

@if (features.$include-helpers and features.$include-text-helpers) {

    %display-font-size {
        font-weight: typography.$display-font-weight;
        line-height: typography.$display-line-height;
    }
    //
    // Display font sizes classes
    //
    @each $display, $font-size in utility-values.$display-font-size-values {
        .display-#{$display} {
            @extend %display-font-size;
            @include rfs.font-size($font-size);
        }
    }

    //
    // Misc
    //

    .text-break-all {
        white-space: normal;
        word-break: break-all;
    }

    .text-multiline {
        white-space: pre-wrap;
        word-break: normal;
    }

    .text-transform-none {
        text-transform: none !important;
    }

    .limited-text-block-width {
        max-width: typography.$limited-text-block-width;
    }

    // Builds on `abbr`
    .initialism {
        @include rfs.font-size(typography.$initialism-font-size);
        text-transform: uppercase;
    }

    .text-truncate {
        @include text-truncate.text-truncate();
    }

    // Heading.
    .lead {
        font-weight: typography.$lead-font-weight;

        @include rfs.font-size(typography.$lead-font-size);
    }
}
