// Transitions.
@use "../mixins/transition" as mixins;
@use "../variables/transition";

.fade {
    @include mixins.transition(transition.$transition-fade);

    &:not(.show) {
        opacity: 0;
    }
}

// scss-docs-start collapse-classes
.collapse {
    &:not(.show) {
        display: none;
    }
}

.collapsing {
    height: 0;
    overflow: hidden;
    @include mixins.transition(transition.$transition-collapse);
}

// scss-docs-end collapse-classes
