@use "../mixins/breakpoints";
@use "../variables/features";
@use "../variables/grid";

@if (features.$include-helpers and features.$include-width-and-height-helpers) {
    .w-responsive {
        @media (min-width: 1199px) {
            width: 75%;
        }
    }

    @each $breakpoint in map-keys(grid.$grid-breakpoints) {
        $infix: breakpoints.breakpoint-infix($breakpoint, grid.$grid-breakpoints);

        @include breakpoints.media-breakpoint-down($breakpoint) {
            .full-width#{$infix} {
                width: 100% !important;
            }

            .auto-height#{$infix} {
                height: auto !important;
            }
        }

        @include breakpoints.media-breakpoint-up($breakpoint) {
            .auto-width#{$infix} {
                width: auto !important;
            }

            .full-height#{$infix} {
                height: 100% !important;
            }
        }
    }
}
