

//
// Switch
//

.form-switch {
    .form-check-input {
        background-image: none;
        border-width: 0;
        border-radius: $form-switch-form-check-input-border-radius;
        width: $form-switch-form-check-input-width;
        height: $form-switch-form-check-input-height;
        background-color: $form-switch-form-check-input-background-color;
        margin-top: 0.3em;
        margin-right: 8px;

        &:after {
            content: '';
            position: absolute;
            border: none;
            z-index: 2;
            border-radius: $form-switch-form-check-input-after-border-radius;
            width: $form-switch-form-check-input-after-width;
            height: $form-switch-form-check-input-after-height;
            background-color: $form-switch-form-check-input-after-background-color;
            margin-top: $form-switch-form-check-input-after-margin-top;
            box-shadow: $form-switch-form-check-input-after-box-shadow;
            transition: $form-switch-form-check-input-after-transition;
        }

        &:focus {
            background-image: none;

            &:before {
                box-shadow: $form-switch-form-check-input-focus-before-box-shadow;
                transform: $form-switch-form-check-input-focus-before-transform;
                transition: $form-switch-form-check-input-focus-before-transition;
            }

            &:after {
                border-radius: $form-switch-form-check-input-focus-after-border-radius;
                width: $form-switch-form-check-input-focus-after-width;
                height: $form-switch-form-check-input-focus-after-height;
            }
        }

        &:checked {
            background-image: none;

            &:focus {
                background-image: none;

                &:before {
                    margin-left: $form-switch-form-check-input-checked-focus-before-margin-left;
                    box-shadow: $form-switch-form-check-input-checked-focus-before-box-shadow;
                    transform: $form-switch-form-check-input-checked-focus-before-transform;
                    transition: $form-switch-form-check-input-checked-focus-before-transition;
                }
            }

            &[type='checkbox'] {
                background-image: none;

                &:after {
                    content: '';
                    position: absolute;
                    border: none;
                    z-index: 2;
                    border-radius: $form-switch-form-check-input-checked-checkbox-after-border-radius;
                    width: $form-switch-form-check-input-checked-checkbox-after-width;
                    height: $form-switch-form-check-input-checked-checkbox-after-height;
                    background-color: $form-switch-form-check-input-checked-checkbox-after-background-color;
                    margin-top: $form-switch-form-check-input-checked-checkbox-after-margin-top;
                    margin-left: $form-switch-form-check-input-checked-checkbox-after-margin-left;
                    box-shadow: $form-switch-form-check-input-checked-checkbox-after-box-shadow;
                    transition: $form-switch-form-check-input-checked-checkbox-after-transition;
                }
            }
        }
    }
}
