@import "../mdb/bootstrap-rtl-fix/forms/file_picker";

// <FormSelect> и <FormSelectBasic> - выбор значения из выпадающего списка.
.form-dropdown-select {

    .dropdown-toggle {
        position: relative;

        input,
        input[readonly] {
            background-color: $input-bg;
            cursor: pointer;
            padding-right: 30px;
            user-select: none;
        }

        input[disabled] {
            cursor: not-allowed;
            background-color: $input-disabled-bg;
        }
    }

    &:not(.mode-inline) {
        .chevron {
            position: absolute;
            right: 6px; // 30px (input padding) - 24px (icon width)
            top: 50%;
            margin-top: -12px;
            @include mdi-icon-color($textColorMuted);
        }
    }

    .dropdown-menu {
        &.fade-out {
            animation-duration: 0s;
        }

        &.fade-in {
            animation-duration: 0.4s;
        }

        &.form-dropdown-select-menu-dropup-offset {
            inset: auto auto 10px 0 !important;
        }

        .form-dropdown-select-search {
            font-size: 1rem !important;
            height: 64px;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
        }

        .dropdown-item {
            &.empty-option {
                color: $textColorMuted;
            }
        }

        .dropdown-item.active {
            background-color: $backgroundLightGray;
        }
    }

    input.empty-option-selected {
        color: $form-label-color;
    }
}

.form-select-with-modal {
    position: relative;

    .form-outline {
        input,
        input[readonly] {
            background-color: $input-bg;
            cursor: pointer;
            padding-right: 30px;
        }

        input[disabled] {
            cursor: not-allowed;
            background-color: $input-disabled-bg;
        }

    }

    .chevron {
        position: absolute;
        right: 6px;
        top: 50%;
        margin-top: -11px;
        @include mdi-icon-color($textColorMuted);
    }

    .loading {
        position: absolute;
        right: 8px;
        top: 8px;
        @include mdi-icon-color($textColorSecondary);
    }
}

.form-select-with-modal-modal {
    .form-select-with-modal-option {
        display: block;
        background-color: $whiteBgColor;
        transition: background-color 0.2s linear;
        padding: 0.5rem 1rem 0.5rem 1rem;
        color: $textColorSecondary;
        text-decoration: none;

        &:hover,
        &:focus,
        &.focus,
        &.focus.active {
            background-color: $dropdown-link-hover-bg;
            text-decoration: none;
        }

        &.active {
            background-color: $dropdown-link-active-bg;
        }

        &.disabled {
            cursor: not-allowed;
            color: $textColorMuted;

            &:hover,
            &:focus {
                background-color: $whiteBgColor !important;
            }
        }
    }

    .form-select-with-modal-options-group {

        .form-select-with-modal-options-group-header {
            color: $themeColor;
            font-weight: 500;
            padding: 0.5rem 1rem 0.5rem 1rem;
            font-size: $font-size-sm;
            line-height: 1.2;
        }

        .form-select-with-modal-option {
            padding-left: 1.5rem;
        }
    }
}

// Поле выбора даты и времени.
.form-dropdown-date-picker {

    .dropdown-toggle {
        position: relative;

        input,
        input[readonly] {
            background-color: $input-bg;
            cursor: pointer;
            padding-right: 30px;
        }

        input[disabled] {
            cursor: not-allowed;
            background-color: $input-disabled-bg;
        }
    }

    .dropdown-menu {
        &.fade-out {
            animation-duration: 0s;
        }

        &.fade-in {
            animation-duration: 0.4s;
        }

        &.form-dropdown-date-picker-menu-dropup-offset,
        &[data-popper-placement|="top"] {
            inset: auto auto 10px 0 !important;
        }

        .react-calendar {
            border: 0 none;
        }
    }
}

// Переключатель видимости введенного пароля.
.password-input-wrapper {
    padding-right: 40px;

    .password-input-type-switch {
        display: block;
        width: 40px;
        height: 40px;
        position: absolute;
        right: 0;
        top: 50%;
        margin-top: -20px;

    }
}

// Поле ввода с автоматическим ростом высоты по мере ввода текста.
textarea.autogrow {
    overflow-y: auto !important;
    height: 65px; //< required for animation to work
    min-height: 65px; //< required for animation to work
    transition: height 0.1s linear, $input-transition !important;
    resize: none;

    &.minimal {
        min-height: 2.5rem;
        height: 2.5rem;
        line-height: 1.6rem;
        padding-top: 0.45rem;
        padding-bottom: 0.45rem;
    }
}

.buttons-switch-input {
    .btn-group {
        > .btn {
            min-width: 80px;
        }
    }
}

// CKEditor:

.ckeditor-container {
    label.form-label {
        position: absolute;
        transform: $form-outline-active-label-transform;
        background-color: #FFF;
        line-height: 14px;
        padding: 0 2px 0 2px;
        top: 15px;
        max-width: 90%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        left: 0.75rem;
        pointer-events: none;
        transform-origin: 0 0;
        margin-bottom: 0;
    }

    .cke {
        border-radius: 4px;
        border-width: 0 !important;

        .cke_toolbar {
            a.cke_button {
                padding: 4px 6px 4px 6px !important;

                &:hover {
                    border: 0 none !important;
                    padding: 4px 6px 4px 6px !important;
                }
            }
        }

        .cke_top {
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            border: 1px solid $input-border-color !important;
            border-bottom-width: 0 !important;
            background-color: #FFF;
        }

        .cke_contents {
            border: 1px solid  $input-border-color !important;
        }

        .cke_bottom {
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
            border: 1px solid  $input-border-color !important;
            border-top-width: 0 !important;
        }
    }
}

// <Checkboxes>

.checkboxes-input {
    .checkboxes-input-label {
        font-weight: 500;
        text-align: center;
        color: $form-label-color;
    }
}
