// overlay animation

.loading-indicator-enter,
.loading-indicator-appear {
    opacity: 0;
}

.loading-indicator-enter-active,
.loading-indicator-appear-active,
.loading-indicator-enter-done,
.loading-indicator-appear-done {
    transition: opacity 0.5s linear;
    opacity: 1;
}

.loading-indicator-exit {
    opacity: 1;
}

.loading-indicator-exit-active,
.loading-indicator-exit-done {
    transition: opacity 0.5s linear;
    opacity: 0;

    &.hide-immediately {

        .loading-indicator {
            transition: none;
        }
    }
}

.loading-indicator-exit-done {
    display: none;
}

// spinner animation

.loading-indicator-spinner-enter,
.loading-indicator-spinner-appear {
    transform: scale(0);
    transform-origin: 50% 50%;
}

.loading-indicator-spinner-enter-active,
.loading-indicator-spinner-appear-active,
.loading-indicator-spinner-enter-done,
.loading-indicator-spinner-appear-done {
    transition: transform 0.5s ease;
    transform: scale(1);
}

.loading-indicator-spinner-exit {
    transform: scale(1);
    transform-origin: 50% 50%;
}

.loading-indicator-spinner-exit-active,
.loading-indicator-spinner-exit-done {
    transition: transform 0.5s ease;
    transform: scale(0);
}

// spin animation

@keyframes loading-indicator-spinner-animation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(359deg);
    }
}

// layout

.loading-indicator-overlay {
    position: relative;
    min-height: 70px;
    min-width: 50px;
    z-index: 100;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &.fill-parent {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    &.floating {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        min-height: 150px;
    }

    &.with-background {

        &,
        &.solid-default {
            background-color: $preloader-overlay-default-bg;
        }

        &.semitransparent-default {
            background-color: $preloader-overlay-default-bg-semitransparent;
        }

        &.solid-white {
            background-color: $preloader-overlay-white-bg;
        }

        &.semitransparent-white {
            background-color: $preloader-overlay-white-bg-semitransparent;
        }
    }

    .loading-indicator {
        z-index: 2000;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .loading-indicator-logo {
            position: relative;
            width: 50px;
            height: 50px;

            .loading-indicator-spinner-container {
                position: absolute;
                top: -10px;
                left: -10px;

                .loading-indicator-spinner {
                    width: 60px;
                    height: 60px;

                    &:before {
                        width: 60px;
                        height: 60px;
                        border-width: 2px;
                        border-color: $preloader-with-logo-color;
                    }

                    &:after {
                        width: 50px;
                        height: 50px;
                        margin-top: -20px;
                        margin-left: -20px;
                        border-width: 2px;
                        border-color: $preloader-with-logo-color;
                    }
                }
            }
        }

        .loading-indicator-spinner-container {
            .loading-indicator-spinner {
                position: relative;
                width: 50px;
                height: 50px;

                &:before {
                    content: '';
                    position: absolute;
                    width: 50px;
                    height: 50px;
                    top: 50%;
                    left: 50%;
                    margin-top: -25px;
                    margin-left: -25px;
                    border: 2px solid $preloader-сolor;
                    border-radius: 50%;
                    border-left-color: transparent !important;
                    border-right-color: transparent !important;
                    animation: loading-indicator-spinner-animation 725ms infinite linear;
                }

                &:after {
                    content: '';
                    position: absolute;
                    width: 36px;
                    height: 36px;
                    top: 50%;
                    left: 50%;
                    margin-top: -18px;
                    margin-left: -18px;
                    border: 2px solid $preloader-сolor;
                    border-radius: 50%;
                    border-left-color: transparent !important;
                    border-right-color: transparent !important;
                    animation: loading-indicator-spinner-animation 1225ms infinite linear;
                }
            }
        }

        &.white {
            .loading-indicator-spinner-container {
                .loading-indicator-spinner {
                    &:before,
                    &:after {
                        border-color: #FFFFFF;
                    }
                }
            }
        }

        .loading-indicator-label {
            margin-top: 0.5em;
            font-size: 1.25em;
            color: $preloader-text-color;
        }

        &.with-logo {
            .loading-indicator-label {
                color: $preloader-with-logo-text-color;
            }
        }
    }


}

