#debug-modal {
    z-index: 2000;
}

.modal {

    .modal-header {
        align-items: flex-start;

        .btn-close {
            margin: 0;
        }

        .layout-mobile & {
            .modal-title {
                font-size: 1.1rem;
                line-height: 1.5;
                align-self: center;
            }
        }
    }

    // Исправление скроллинга в случае когда используется
    // <ModalContent>...<AsyncDataLoading/>...</ModalContent>
    // А в <AsyncDataLoading/> рендерится <ModalBody> и <ModalFooter>.
    .modal-dialog-scrollable > .modal-content > .async-data-loading-container {
        overflow: hidden;
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .btn-close.floating {
        position: absolute;
        top: 0.75rem;
        right: 0.75rem;
        // Чтобы не просвечивать сквозь окно поверх окна.
        z-index: $zindex-modal-backdrop - 10;
    }

    // Depth 2 z-index: +1 - backdrop, +2 - modal.
    // Depth 3 z-index: +3 - backdrop, +4 - modal.

    &.depth-2 {
        z-index: $zindex-modal + 2;
    }

    &.depth-3 {
        z-index: $zindex-modal + 4;
    }
}

.modal-backdrop {
    &.depth-2 {
        z-index: $zindex-modal + 1;
    }

    &.depth-3 {
        z-index: $zindex-modal + 3;
    }
}
