@mixin mdi-icon-color($color) {
    path {
        fill: $color;
    }
}

@mixin custom-icon-color($color) {
    &.colored-by-stroke g {
        stroke: $color;
    }

    &.colored-by-fill g {
        fill: $color;
    }

    // Изменить цвет только для fill='#000' и stroke='#000'
    &.colored-by-various {
        g,
        path,
        circle,
        ellipse,
        rect {
            &[fill='#000'] {
                fill: $color;
            }
            &[stroke='#000'] {
                stroke: $color;
            }
        }
    }
}

@mixin contained-mdi-icon-color($color) {
    svg.mdi-icon {
        @include mdi-icon-color($color);
    }
}

@mixin contained-mdi-icon-color-in-link($color, $hoverColor, $disabledColor) {
    @include contained-mdi-icon-color($color);

    @include contained-mdi-icon-color-in-link-for-states($hoverColor, $disabledColor);
}

@mixin contained-mdi-icon-color-in-link-for-states($hoverColor, $disabledColor) {
    &:hover,
    &:focus,
    &.active {
        @include contained-mdi-icon-color($hoverColor);
    }

    &.disabled,
    &[disabled] {
        @include contained-mdi-icon-color($disabledColor);
    }
}

@mixin contained-custom-svg-icon-color($color) {
    svg.custom-icon {
        @include custom-icon-color($color);
    }
}

@mixin contained-custom-svg-icon-color-in-link($color, $hoverColor, $disabledColor) {
    @include contained-custom-svg-icon-color($color);

    @include contained-custom-svg-icon-color-in-link-for-states($hoverColor, $disabledColor);
}

@mixin contained-custom-svg-icon-color-in-link-for-states($hoverColor, $disabledColor) {
    &:hover,
    &:focus,
    &.active {
        @include contained-custom-svg-icon-color($hoverColor);
    }

    &.disabled,
    &[disabled] {
        @include contained-custom-svg-icon-color($disabledColor);
    }
}

@mixin contained-mdi-icon-color-in-button($background) {
    &,
    &:hover,
    &:focus,
    &.disabled,
    &[disabled] {
        @include contained-mdi-icon-color(set-notification-text-color($background));
    }
}

@mixin hide-scrollbar-visually {
    // Прячем scrollbar визуально.
    -ms-overflow-style: none;  // IE and Edge.
    scrollbar-width: none;  // Firefox.

    &::-webkit-scrollbar {
        // Chrome, Safari, Opera.
        display: none;
    }
}
