// Поля ввода.

// Состояние полей ввода: focus.
$input-focus-border-color: fade-out($themeColor, opacity($themeColor) - 0.6);

// Названия для полей ввода.

$form-outline-label-color: rgba($gray-800, 0.6);
$form-outline-focus-label-color: $themeColor;

// Дополнения к полям ввода.
$input-chevron-color: $input-border-color;

// Стилизованная обертка для полей ввода.
$form-notch-div-border-color: $input-border-color;

// Переключатель значений.
// Переключатель выключен (checked === false)
//$form-switch-input-bg-color: lighten($textColorMuted, 25%);
//$form-switch-input-after-background-color: $textColorMuted;
//// Переключатель включен (checked === true)
//$form-switch-input-checked-track-background-color: lighten($backgroundGreen, 30%);
//$form-switch-input-checked-checkbox-after-background-color: darken($backgroundGreen, 7%);
