// Поля ввода.

$enable-validation-icons: false;

// Дополнения к полям ввода.
$input-error-padding-x: $form-outline-input-padding-x;
$input-error-padding-top: 0.25rem;
$input-info-padding-x: $form-outline-input-padding-x;
