// Индикатор загрузки.
$preloader-сolor: $themeColor;
$preloader-text-color: $textColorGray;
$preloader-with-logo-color: $themeColor;
$preloader-with-logo-text-color: $textColorGray;

$preloader-overlay-default-bg: $bodyBgColor;
$preloader-overlay-default-bg-semitransparent: fade-out($preloader-overlay-default-bg, opacity($preloader-overlay-default-bg) * 0.6);
$preloader-overlay-white-bg: $backgroundWhite;
$preloader-overlay-white-bg-semitransparent: fade-out($preloader-overlay-white-bg, opacity($preloader-overlay-white-bg) * 0.6);
