// Настройки акцентных цветов проекта.

$bodyBgColor: #fafafa !default;
$whiteBgColor: #ffffff !default;
$themeColor: #de2f28 !default;
$preloaderColor: $themeColor !default;
$textSelectionBgColor: $themeColor !default;
$textSelectionTextColor: #FFFFFF !default;
