// Buttons

@use "links";
@use "borders";
@use "typography";
@use "colors";

// Bootstrap Variables
// For each of Bootstrap's buttons, define text, background, and border color.

// scss-docs-start btn-variables
$btn-text-transform: uppercase !default;
$btn-padding-top: 0.625rem !default;
// Null means that function padding-bottom() will calculate bottom padding
// based on $btn-padding-top, $btn-text-transform and $btn-font-size.
// Value can be overridden to disable calculation.
$btn-padding-bottom: null !default;
$btn-padding-x: 1.5rem !default;
$btn-font-family: null !default;
$btn-font-size: typography.$font-size-sm !default;
$btn-font-weight: 500 !default;
$btn-line-height: 1.5 !default;
$btn-white-space: null !default; // Set to `nowrap` to prevent text wrapping
$btn-border-width: borders.$border-width !default;
$btn-border-radius: borders.$border-radius !default;
$btn-transition: color 0.25s linear,
background-color 0.25s linear,
border-color 0.25s linear,
box-shadow 0.25s linear,
opacity 0.25s linear !default;

$btn-box-shadow: none !default;
$btn-hover-box-shadow: none !default;
$btn-focus-box-shadow: $btn-hover-box-shadow !default;
$btn-active-box-shadow: $btn-hover-box-shadow !default;
$btn-disabled-opacity: 0.65 !default;

// .btn-link
$btn-link-font-size: typography.$font-size-base !default;
$btn-link-font-weight: typography.$font-weight-normal !default;
$btn-link-color: links.$link-color !default;
$btn-link-decoration: links.$link-decoration !default;
$btn-link-text-transform: none !default;
$btn-link-padding: 0 !default;
$btn-link-hover-color: links.$link-hover-color !default;
$btn-link-hover-bg: transparent !default;
$btn-link-hover-decoration: links.$link-hover-decoration !default;
$btn-link-disabled-color: colors.$gray-600 !default;

// Color modifiers for each state:
$btn-hover-bg-shade-amount: 15% !default;
$btn-hover-bg-tint-amount: 15% !default;
$btn-hover-border-shade-amount: 20% !default;
$btn-hover-border-tint-amount: 10% !default;
$btn-active-bg-shade-amount: 20% !default;
$btn-active-bg-tint-amount: 20% !default;
$btn-active-border-shade-amount: 25% !default;
$btn-active-border-tint-amount: 10% !default;

// Small:
$btn-padding-x-sm: 0.5rem !default;
$btn-font-size-sm: typography.$font-size-sm * 0.9 !default;
$btn-font-weight-sm: $btn-font-weight !default;
$btn-line-height-sm: $btn-line-height !default;
$btn-padding-top-sm: 0.375rem !default;
// Null means that function padding-bottom() will calculate bottom padding
// based on $btn-padding-top-sm, $btn-text-transform and $btn-font-size-sm.
// Value can be overridden to disable calculation.
$btn-padding-bottom-sm: null !default;
$btn-padding-x-sm: 1rem !default;
$btn-border-radius-sm: borders.$border-radius !default;

// Large:
$btn-padding-x-lg: $btn-padding-x + 0.1875rem !default;
$btn-font-size-lg: typography.$font-size-base !default;
$btn-font-weight-lg: $btn-font-weight !default;
$btn-line-height-lg: 1.6 !default;
$btn-padding-top-lg: 0.75rem !default;
// Null means that function padding-bottom() will calculate bottom padding
// based on $btn-padding-top-lg, $btn-text-transform and $btn-font-size-lg.
// Value can be overridden to disable calculation.
$btn-padding-bottom-lg: null !default;
$btn-border-radius-lg: borders.$border-radius-lg !default;

// Outline:
$btn-outline-hover-bg: rgba(0, 0, 0, 0.05) !default;
$btn-outline-active-bg: $btn-outline-hover-bg !default;

$btn-outline-padding-top: $btn-padding-top !default;
$btn-outline-padding-bottom: $btn-padding-bottom !default;
$btn-outline-padding-x: $btn-padding-x !default;

// Outline small:
$btn-outline-padding-top-sm: $btn-padding-top-sm !default;
$btn-outline-padding-bottom-sm: $btn-padding-bottom-sm !default;
$btn-outline-padding-x-sm: $btn-padding-x-sm !default;

// Outline large:
$btn-outline-padding-top-lg: $btn-padding-top-lg !default;
$btn-outline-padding-bottom-lg: $btn-padding-bottom-lg !default;
$btn-outline-padding-x-lg: $btn-padding-x-lg !default;

// Rounded
$btn-rounded-border-radius: 10rem !default;

// .btn-block
$btn-block-spacing-y: 0.5rem !default;

// .btn-group
$btn-group-border-radius: $btn-border-radius !default;
// Прикол с 0.6 в том, что границы для .btn-outline- не накладываются
// друг на друга, в отличие от множителей меньше 0.53 или больше 0.7.
$btn-group-margin-left: -$btn-border-width * 0.6 !default;
$btn-group-transition: color 0.15s ease-in-out,
background-color 0.15s ease-in-out,
border-color 0.15s ease-in-out,
box-shadow 0.15s ease-in-out !default;

// scss-docs-end btn-variables
