// Cards

@use "sass:math";
@use "../functions/calc-utils";
@use "borders";
@use "grid";
@use "shadows";
@use "colors";

// scss-docs-start card-variables
$card-spacer-base: 1.5rem !default;
$card-spacer-y: $card-spacer-base !default;
$card-spacer-x: $card-spacer-base !default;
$card-box-shadow: shadows.$box-shadow-4 !default;
$card-title-spacer-y: 0 !default;
$card-border-width: 0 !default;
$card-border-radius: borders.$border-radius-xl !default;
$card-border-color: rgba(colors.$black, 0.125) !default;
$card-inner-border-radius: calc-utils.subtract($card-border-radius, $card-border-width) !default;

$card-header-border-width: borders.$border-width !default;
$card-header-padding-y: math.div($card-spacer-y, 2) !default;
$card-header-padding-x: $card-spacer-x !default;
$card-header-bg: rgba(255, 255, 255, 0) !default;
$card-header-color: null !default;

$card-height: null !default;
$card-color: null !default;
$card-bg: colors.$white !default;

$card-footer-bg: $card-header-bg !default;
$card-footer-border-width: borders.$border-width !default;

$card-img-overlay-padding: $card-spacer-base !default;
$card-group-margin: math.div(grid.$grid-gutter-width, 2) !default;
// scss-docs-end card-variables

