@use "../functions";
@use "colors";
@use "typography";
@use "body";

// scss-docs-start colors-map
$text-colors: (
    'blue': colors.$blue,
    'indigo': colors.$indigo,
    'purple': colors.$purple,
    'pink': colors.$pink,
    'red': colors.$red,
    'orange': colors.$orange,
    'yellow': colors.$yellow,
    'green': colors.$green,
    'teal': colors.$teal,
    'cyan': colors.$cyan,
    'gray': colors.$gray-600,
    'gray-dark': colors.$gray-800,
) !default;

$text-colors: map-merge((
    'white': colors.$white,
    'body': body.$body-color,
    'muted': typography.$text-muted,
), $text-colors);
// scss-docs-end colors-map

// scss-docs-start theme-colors-map
$theme-colors: (
    'primary': colors.$primary,
    'secondary': colors.$secondary,
    'success': colors.$success,
    'info': colors.$info,
    'warning': colors.$warning,
    'danger': colors.$danger,
    'light': colors.$light,
    'dark': colors.$dark,
    'white': colors.$white,
    'black': colors.$black,
    'blue': colors.$blue,
    'red': colors.$red,
    'orange': colors.$orange,
    'green': colors.$green,
    'gray': colors.$gray-400,
) !default;
// scss-docs-end theme-colors-map

// scss-docs-start link-colors-map
$link-colors: $text-colors !default;
// scss-docs-end link-colors-map

// scss-docs-start button-colors-map
$button-colors: $theme-colors !default;
// scss-docs-end button-colors-map

// scss-docs-start button-outline-colors-map
$button-outline-colors: $button-colors !default;
// scss-docs-end button-outline-colors-map

// scss-docs-start border-colors-map
$border-colors: $theme-colors !default;
// scss-docs-end border-colors-map

// scss-docs-start bg-colors-map
$bg-colors: map-merge((
    'super-light': colors.$gray-50
), $theme-colors) !default;

$bg-colors: map-merge((
    'body': body.$body-bg,
    'white': colors.$white,
    'transparent': transparent,
), $bg-colors);
// scss-docs-end bg-colors-map

// scss-docs-start alert-colors-map
$alert-colors: $theme-colors !default;
// scss-docs-end alert-colors-map

// scss-docs-start note-colors-map
$note-colors: (
    'primary': (
        'bgc': lighten(colors.$primary, 43%),
        'border-color': colors.$primary,
    ),
    'secondary': (
        'bgc': lighten(colors.$secondary, 33%),
        'border-color': colors.$secondary,
    ),
    'success': (
        'bgc': lighten(colors.$success, 53%),
        'border-color': colors.$success,
    ),
    'danger': (
        'bgc': lighten(colors.$danger, 36%),
        'border-color': colors.$danger,
    ),
    'warning': (
        'bgc': lighten(colors.$warning, 42%),
        'border-color': colors.$warning,
    ),
    'info': (
        'bgc': lighten(colors.$info, 36%),
        'border-color': colors.$info,
    ),
    'light': (
        'bgc': colors.$light,
        'border-color': colors.$dark,
    ),
) !default;
// scss-docs-end note-colors-map

// scss-docs-start table-variables
$table-bg-scale: -80% !default;
// scss-docs-end table-variables

// scss-docs-start table-loop
$table-variants: (
    'primary': functions.shift-color(colors.$primary, $table-bg-scale),
    'secondary': functions.shift-color(colors.$secondary, $table-bg-scale),
    'success': functions.shift-color(colors.$success, $table-bg-scale),
    'info': functions.shift-color(colors.$info, $table-bg-scale),
    'warning': functions.shift-color(colors.$warning, $table-bg-scale),
    'danger': functions.shift-color(colors.$danger, $table-bg-scale),
    'light': colors.$light,
    'dark': colors.$dark,
) !default;
// scss-docs-end table-loop

// scss-docs-start table-cell-highlight-loop
$table-cell-highlights: (
    'blue': colors.$blue-50,
    'red': colors.$red-50,
    'green': colors.$green-50,
    'orange': colors.$orange-50,
    'gray': colors.$gray-100,
) !default;
// scss-docs-end table-cell-highlight-loop

// scss-docs-start form-switch-loop
$form-checkbox-colors: (
    'red': colors.$danger,
    'green': colors.$success,
    'blue': colors.$info,
    'orange': colors.$warning
) !default;
// scss-docs-end form-switch-loop

// scss-docs-start icon-colors-loop
$icon-colors: map_merge($text-colors, $theme-colors) !default;
// scss-docs-end icon-colors-loop

// scss-docs-start tooltip-text-colors-loop
$tooltip-text-colors: (
    'red': colors.$red,
    'blue': colors.$blue,
    'green': colors.$green,
    'orange': colors.$orange,
    'muted': typography.$text-muted,
) !default;
// scss-docs-end tooltip-text-colors-loop
