@import "../functions/color-utils";
@import "colors";
@import "typography";
@import "body";

// scss-docs-start colors-map
$text-colors: (
    'blue': $blue,
    'indigo': $indigo,
    'purple': $purple,
    'pink': $pink,
    'red': $red,
    'orange': $orange,
    'yellow': $yellow,
    'green': $green,
    'teal': $teal,
    'cyan': $cyan,
    'gray': $gray-600,
    'gray-dark': $gray-800,
) !default;

$text-colors: map-merge((
    'white': $white,
    'body': $body-color,
    'muted': $text-muted,
), $text-colors);
// scss-docs-end colors-map

// scss-docs-start theme-colors-map
$theme-colors: (
    'primary': $primary,
    'secondary': $secondary,
    'success': $success,
    'info': $info,
    'warning': $warning,
    'danger': $danger,
    'light': $light,
    'dark': $dark,
    'white': $white,
    'black': $black,
    'blue': $blue,
    'red': $red,
    'orange': $orange,
    'green': $green,
) !default;
// scss-docs-end theme-colors-map

// scss-docs-start link-colors-map
$link-colors: $text-colors !default;
// scss-docs-end link-colors-map

// scss-docs-start button-colors-map
$button-colors: $theme-colors !default;
// scss-docs-end button-colors-map

// scss-docs-start border-colors-map
$border-colors: $theme-colors !default;
// scss-docs-end border-colors-map

// scss-docs-start bg-colors-map
$bg-colors: map-merge((
    'super-light': $gray-50
), $theme-colors) !default;

$bg-colors: map-merge((
    'body': $body-bg,
    'white': $white,
    'transparent': transparent,
), $bg-colors);
// scss-docs-end bg-colors-map

// scss-docs-start alert-colors-map
$alert-colors: $theme-colors !default;
// scss-docs-end alert-colors-map

// scss-docs-start note-colors-map
$note: (
    'primary': (
        'bgc': lighten($primary, 43%),
        'border-color': $primary,
    ),
    'secondary': (
        'bgc': lighten($secondary, 33%),
        'border-color': $secondary,
    ),
    'success': (
        'bgc': lighten($success, 53%),
        'border-color': $success,
    ),
    'danger': (
        'bgc': lighten($danger, 36%),
        'border-color': $danger,
    ),
    'warning': (
        'bgc': lighten($warning, 42%),
        'border-color': $warning,
    ),
    'info': (
        'bgc': lighten($info, 36%),
        'border-color': $info,
    ),
    'light': (
        'bgc': $light,
        'border-color': $dark,
    ),
) !default;
// scss-docs-end note-colors-map

// scss-docs-start table-variables
$table-bg-scale: -80% !default;
// scss-docs-end table-variables

// scss-docs-start table-loop
$table-variants: (
    'primary': shift-color($primary, $table-bg-scale),
    'secondary': shift-color($secondary, $table-bg-scale),
    'success': shift-color($success, $table-bg-scale),
    'info': shift-color($info, $table-bg-scale),
    'warning': shift-color($warning, $table-bg-scale),
    'danger': shift-color($danger, $table-bg-scale),
    'light': $light,
    'dark': $dark,
) !default;
// scss-docs-end table-loop

// scss-docs-start table-cell-highlight-loop
$table-cell-highlights: (
    'blue': $blue-50,
    'red': $red-50,
    'green': $green-50,
    'orange': $orange-50,
    'gray': $gray-100,
) !default;
// scss-docs-end table-cell-highlight-loop

// scss-docs-start form-switch-loop
$form-checkbox-colors: (
    'red': $danger,
    'green': $success,
    'blue': $info,
    'orange': $warning
) !default;
// scss-docs-end form-switch-loop

// scss-docs-start icon-colors-loop
$icon-colors: map_merge($text-colors, $theme-colors) !default;
// scss-docs-end icon-colors-loop

// scss-docs-start tooltip-text-colors-loop
$tooltip-text-colors: (
    'red': $red,
    'blue': $blue,
    'green': $green,
    'orange': $orange,
    'muted': $text-muted,
) !default;
// scss-docs-end tooltip-text-colors-loop
