@import "colors";
@import "../functions/color-utils";

// scss-docs-start colors-map
$colors: (
    'blue': $blue,
    'indigo': $indigo,
    'purple': $purple,
    'pink': $pink,
    'red': $red,
    'orange': $orange,
    'yellow': $yellow,
    'green': $green,
    'teal': $teal,
    'cyan': $cyan,
    'white': $white,
    'gray': $gray-600,
    'gray-dark': $gray-800,
) !default;
// scss-docs-end colors-map

// scss-docs-start theme-colors-map
$theme-colors: (
    'primary': $primary,
    'secondary': $secondary,
    'success': $success,
    'info': $info,
    'warning': $warning,
    'danger': $danger,
    'light': $light,
    'dark': $dark,
    'white': $white,
    'black': $black,
) !default;
// scss-docs-end theme-colors-map

// scss-docs-start link-colors-map
$link-colors: $theme-colors;
// scss-docs-end link-colors-map

// scss-docs-start button-colors-map
$button-colors: $theme-colors;
// scss-docs-end button-colors-map

// scss-docs-start border-colors-map
$border-colors: $theme-colors;
// scss-docs-end border-colors-map

// scss-docs-start note-colors-map
$note: () !default;
$note: map-merge(
        (
            'primary': (
                'bgc': lighten($primary, 43%),
                'border-color': $primary,
            ),
            'secondary': (
                'bgc': lighten($secondary, 33%),
                'border-color': $secondary,
            ),
            'success': (
                'bgc': lighten($success, 53%),
                'border-color': $success,
            ),
            'danger': (
                'bgc': lighten($danger, 36%),
                'border-color': $danger,
            ),
            'warning': (
                'bgc': lighten($warning, 42%),
                'border-color': $warning,
            ),
            'info': (
                'bgc': lighten($info, 36%),
                'border-color': $info,
            ),
            'light': (
                'bgc': $light,
                'border-color': $dark,
            ),
        ),
        $note
);
// scss-docs-end note-colors-map

$table-bg-scale: -80% !default;
// scss-docs-end table-variables

// scss-docs-start table-loop
$table-variants: (
    'primary': shift-color($primary, $table-bg-scale),
    'secondary': shift-color($secondary, $table-bg-scale),
    'success': shift-color($success, $table-bg-scale),
    'info': shift-color($info, $table-bg-scale),
    'warning': shift-color($warning, $table-bg-scale),
    'danger': shift-color($danger, $table-bg-scale),
    'light': $light,
    'dark': $dark,
) !default;
// scss-docs-end table-loop
