// WARNING! DO not add @use 'colors'; or it may fail compilation
// because of loop import.

// The contrast ratio to reach against white, to determine if color changes from "light" to "dark". Acceptable values for WCAG 2.0 are 3, 4.5 and 7.
// See https://www.w3.org/TR/WCAG20/#visual-audio-contrast-contrast
// Possible values: 3, 4.5, 7
$min-contrast-ratio: 2 !default;

// Customize the light and dark text colors for use in our color contrast function.
$color-contrast-black: #262626 !default;
$color-contrast-dark: #4f4f4f !default;
$color-contrast-light: #FFFFFF !default;
$color-contrast-white: #FFFFFF !default;
