// CSS grid.
@use "../variables/spacers";

$css-grid-max-columns: 8 !default;
$css-grid-max-rows: 8 !default;
$css-grid-column-gaps: spacers.$gaps !default;
$css-grid-row-gaps: $css-grid-column-gaps !default;
