// Table designed as Data Grid with filters, pagination and so on.
@use "sass:map";
@use "../functions/color-utils";
@use "table";
@use "shadows";
@use "colors";
@use "spacers";

// Таблицы данных (data grids).
//$table-striped-bg: #f9f9f9 !default;
//$table-hover-bg: #f0f0f0 !default;

$table-filters-bg: colors.$white !default;

$table-container-bg: colors.$white !default;

$data-grid-header-bg: $table-container-bg !default;
$data-grid-header-color: colors.$text-muted !default;
$data-grid-header-borders: color-utils.darken($data-grid-header-bg, 10%) !default;
$data-grid-header-shadow: shadows.$box-shadow-2 !default;

$data-grid-footer-bg: $table-container-bg !default;
$data-grid-footer-color: $data-grid-header-color !default;
$data-grid-vertical-separator-color: colors.$border-color !default;

$data-grid-error-bg: rgba($table-container-bg, 0.6) !default;

$data-grid-selected-row-bg: colors.$blue-50 !default;

$data-grid-cell-font-weight: 400 !default;
$data-grid-cell-padding-x: 1rem !default;
$data-grid-cell-padding-y: 1rem !default;
$data-grid-cell-padding-x-sm: $data-grid-cell-padding-x !default;
$data-grid-cell-padding-y-sm: table.$table-cell-padding-y-sm !default;

// Пагинация.
$data-grid-pagination-active-bg: colors.$primary !default;
$data-grid-pagination-active-transition: background-color 0.2s linear !default;
$data-grid-pagination-active-disabled-color: colors.$gray-350 !default;
$data-grid-pagination-active-disabled-bg: colors.$gray-200 !default;
$data-grid-pagination-active-disabled-color: colors.$text-muted !default;
$data-grid-pagination-active-box-shadow: none !default;
$data-grid-pagination-filler-menu-visible-rows-count: 7 !default;
$data-grid-pagination-filler-menu-button-height: 2.125rem !default;
$data-grid-pagination-filler-menu-max-height: (
    ($data-grid-pagination-filler-menu-visible-rows-count * ($data-grid-pagination-filler-menu-button-height + map.get(spacers.$spacers, 2)))
    + map.get(spacers.$spacers, 2)
) !default;

// Подсветка строк таблицы.
$data-grid-highlight-bg-blue: colors.$blue-50 !default;
$data-grid-highlight-bg-red: colors.$red-50 !default;
$data-grid-highlight-bg-green: colors.$green-50 !default;
$data-grid-highlight-bg-gray: colors.$gray-100 !default;
