// Options
//
// Quickly modify global styling by enabling or disabling optional features.

$enable-caret: false !default;
$enable-rounded: true !default;
$enable-shadows: false !default;
$enable-gradients: false !default;
$enable-transitions: true !default;
$enable-reduced-motion: true !default;
$enable-smooth-scroll: true !default;
$enable-grid-classes: true !default;
$enable-button-pointers: true !default;
$enable-rfs: true !default;
$enable-validation-icons: false !default;
$enable-deprecation-messages: true !default;
$enable-important-utilities: true !default;
// Allow styling of MDI icons.
$enable-mdi-svg-icons: true !default;
// Allow styling of not MDI icons.
$enable-custom-svg-icons: false !default;
$include-column-box-sizing: true !default;

// Global styles flags.
// Here you can enable/disable :root{} vars, fonts import and CSS reboot styles .
$include-fonts-import: true !default;
$include-reboot: true !default;
$include-root: true !default;

// Component flags.
// Here you can enable/disable individual components.
$include-alert: true !default;
$include-badge: true !default;
$include-button-close: true !default;
$include-button-group: true !default;
$include-buttons: true !default;
$include-card: true !default;
$include-carousel: true !default;
$include-chevron: true !default;
$include-ckeditor-iframe-content: false !default;
$include-collapse: true !default;
$include-data-grid: true !default;
$include-drag-and-drop: true !default;
$include-dropdown: true !default;
$include-error-page: true !default;
$include-icon: true !default;
$include-image: true !default;
$include-images-previewer: true !default;
$include-link: true !default;
$include-loading-indicator: true !default;
$include-modal: true !default;
$include-modal-fullscreen: true !default;
$include-nav: true !default;
$include-navbar: true !default;
$include-note: true !default;
$include-pagination: true !default;
$include-progress: true !default;
$include-rating-stars: true !default;
$include-react-calendar: true !default;
$include-recaptcha: true !default;
$include-ripple: true !default;
$include-section-divider: true !default;
$include-table: true !default;
$include-toast: true !default;
$include-tooltip: true !default;
$include-youtube: true !default;

// Form/input component flags.
// Here you can enable/disable individual form/input components.
$include-forms-and-inputs: true !default;
$include-file-picker-input: true !default;
$include-form-floating-labels: true !default;
$include-buttons-switch-input: true !default;
$include-check-input: true !default;
$include-checkboxes-group-input: true !default;
$include-ckeditor-input: true !default;
$include-form-control: true !default;
$include-autogrow-textarea: true !default;
$include-date-input: true !default;
$include-dropdown-select-input: true !default;
$include-file-selector-button-theme: false !default;
$include-form-inline: true !default;
$include-form-input-addon: true !default;
$include-form-input-info: true !default;
$include-form-outline: true !default;
$include-form-range: true !default;
$include-form-select: true !default;
$include-form-switch: true !default;
$include-form-text: true !default;
$include-input-group: true !default;
$include-form-labels: true !default;
$include-form-validation: true !default;

// Helpers flags.
// Here you can enable/disable individual helpers.
$include-helpers: true !default; // If false - no helpers will be included.
$include-animations-helpers: true !default;
$include-background-attachment-helpers: true !default;
$include-blockquote-helpers: true !default;
$include-clearfix-helpers: true !default;
$include-container-helpers: true !default;
$include-css-grid-helpers: true !default;
$include-flex-grid-helpers: true !default;
$include-flexbox-helpers: true !default;
$include-link-helpers: true !default;
$include-list-helpers: true !default;
$include-misc-helpers: true !default;
$include-position-helpers: true !default;
$include-ratio-helpers: true !default;
$include-text-helpers: true !default;
$include-transition-helpers: true !default;
$include-utilities: true !default;
$include-visually-hidden-helpers: true !default;
$include-width-and-height-helpers: true !default;
$include-with-icon-helpers: true !default;

// Utilities flags.
// Here you can enable/disable individual utilities.
$include-print-styles: false !default;
$include-vertical-align-utilities: true !default;
$include-float-utilities: true !default;
$include-overflow-utilities: true !default;
$include-display-utilities: true !default;
$include-z-index-utilities: true !default;
$include-cursor-utilities: true !default;
// Only .position-static/relative/absolute/fixed/sticky.
$include-position-utilities: true !default;
// .top-0/50/100, .bottom-0/50/100, .left-0/50/100, .right-0/50/100,
// .translate-middle, .translate-middle-x/y.
$include-extended-position-utilities: $include-position-utilities !default;
$include-border-utilities: true !default;
$include-border-color-utilities: true !default;
$include-width-utilities: true !default;
$include-height-utilities: true !default;
$include-flexbox-utilities: true !default;
$include-margin-utilities: true !default;
$include-negative-margin-utilities: true !default;
$include-padding-utilities: true !default;
$include-text-utilities: true !default;
$include-text-color-utilities: true !default;
$include-bg-color-utilities: true !default;
$include-gradient-utilities: true !default;
$include-interaction-utilities: true !default; // user-select & pointer-events
$include-border-radius-utilities: true !default; // user-select & pointer-events
$include-visibility-utilities: true !default; // user-select & pointer-events
$include-rfs-scaling-for-utilities: true !default;
$include-shadow-utilities: true !default;
$include-letter-spacing-utilities: true !default;
$include-opacity-utilities: true !default;
