// Checkboxes and Radios.
@use "sass:math";
@use "colors";
@use "form-input-base";

// scss-docs-start form-check-variables
$form-check-input-width: 1.25rem !default;
$form-check-min-height: 1.5rem !default;
//$form-check-min-height: $font-size-base * $line-height-base !default;
$form-check-transition: null !default;

$form-check-label-color: null !default;
$form-check-label-cursor: pointer !default;
$form-check-label-margin: 0.7rem !default;

$form-check-input-active-filter: brightness(90%) !default;

$form-check-input-bg-color: transparent !default;
$form-check-input-border-width: 0.125rem !default;
$form-check-input-border-color: colors.$gray-600 !default;

$form-check-input-before-box-shadow: none !default;
$form-check-input-before-border-radius: 50% !default;
$form-check-input-before-width: $form-check-input-width - ($form-check-input-border-width * 2) !default;
$form-check-input-before-transform: scale(0) !default;
$form-check-input-hover-before-opacity: 0.04 !default;
$form-check-input-hover-before-box-shadow: none !default;

$form-check-input-focus-border: form-input-base.$input-focus-border-color !default;
$form-check-input-focus-box-shadow: none !default;
$form-check-input-focus-transition: border-color 0.2s !default;
$form-check-input-focus-before-opacity: 0.12 !default;
$form-check-input-focus-before-box-shadow: $form-check-input-hover-before-box-shadow !default;
$form-check-input-focus-before-transform: scale(1) !default;
$form-check-input-focus-before-transition: box-shadow 0.2s, transform 0.2s !default;

$form-check-input-checked-color: colors.$primary !default;
$form-check-input-checked-bg-color: $form-check-input-bg-color !default;
$form-check-input-checked-border-color: colors.$primary !default;
$form-check-input-checked-before-opacity: 0.16 !default;
$form-check-input-checked-focus-border-color: colors.$primary !default;
$form-check-input-checked-focus-before-box-shadow: none !default;
$form-check-input-checked-focus-before-transform: $form-check-input-focus-before-transform !default;
$form-check-input-checked-focus-before-transition: $form-check-input-focus-before-transition !default;

$form-check-input-disabled-opacity: 0.5 !default;
$form-check-label-disabled-opacity: $form-check-input-disabled-opacity !default;

$form-check-inline-margin-end: 1rem !default;

$form-check-input-width-sm: 1rem !default;
$form-check-input-padding-start-sm: $form-check-input-width-sm + 0.5rem !default;
$form-check-label-margin-sm: 0.6rem !default;

// Checkbox.

$form-check-checkbox-border-radius: 0.125rem !default;

$form-check-checkbox-focus-after-width: $form-check-input-width - ($form-check-input-border-width * 2) !default;
$form-check-checkbox-focus-after-bg-color: colors.$white !default;
$form-check-checkbox-checked-bg-color: colors.$white !default;
$form-check-checkbox-checked-focus-bg-color: $form-check-checkbox-checked-bg-color !default;

$form-check-checkbox-checked-after-transform: rotate(45deg) !default;
$form-check-checkbox-checked-check-width: $form-check-input-border-width !default;
$form-check-checkbox-checked-check-color: colors.$primary !default;
$form-check-checkbox-checked-after-height: $form-check-checkbox-focus-after-width - ($form-check-input-border-width * 2) !default;
$form-check-checkbox-checked-after-width: math.div($form-check-checkbox-checked-after-height, 2) !default;
$form-check-checkbox-checked-after-margin-left: -1 * math.div($form-check-checkbox-checked-after-width, 2);
$form-check-checkbox-checked-after-margin-top: -0.6 * $form-check-checkbox-checked-after-height;

$form-check-checkbox-solid-checked-bg-color: $form-check-checkbox-checked-check-color !default;
$form-check-checkbox-solid-checked-check-color: $form-check-checkbox-checked-bg-color !default;
$form-check-checkbox-solid-checked-focus-bg-color: $form-check-checkbox-checked-focus-bg-color !default;

$form-check-checkbox-before-width-sm: $form-check-input-width-sm - ($form-check-input-border-width * 2) !default;
$form-check-checkbox-focus-after-width-sm: $form-check-input-width-sm - ($form-check-input-border-width * 2) !default;

$form-check-checkbox-checked-after-height-sm: $form-check-checkbox-focus-after-width-sm - $form-check-input-border-width !default;
$form-check-checkbox-checked-after-width-sm: math.div($form-check-checkbox-checked-after-height-sm, 2) !default;
$form-check-checkbox-checked-after-margin-left-sm: -1 * math.div($form-check-checkbox-checked-after-width-sm, 2);
$form-check-checkbox-checked-after-margin-top-sm: -0.6 * $form-check-checkbox-checked-after-height-sm;

//$form-check-input-indeterminate-bg-color: $component-active-bg !default;
//$form-check-input-indeterminate-border-color: $gray-600 !default;
//$form-check-input-indeterminate-focus-before-box-shadow: none !default;
//$form-check-checkbox-indeterminate-checked-after-transform: rotate(90deg) !default;
//$form-check-checkbox-indeterminate-checked-after-border-width: 0.125rem !default;
//$form-check-checkbox-indeterminate-checked-after-border-color: $white !default;
//$form-check-checkbox-indeterminate-checked-after-width: 0.125rem !default;
//$form-check-checkbox-indeterminate-checked-after-height: 0.875rem !default;
//$form-check-checkbox-indeterminate-checked-after-margin-left: 0.375rem !default;
//$form-check-checkbox-indeterminate-focus-bg-color: $primary !default;
//$form-check-checkbox-indeterminate-focus-border-color: $primary !default;

// Radio.

$form-check-radio-border-radius: 50% !default;

$form-check-radio-before-width: $form-check-input-before-width !default;
$form-check-radio-after-width: $form-check-radio-before-width !default;
$form-check-radio-after-border-radius: $form-check-radio-border-radius !default;
$form-check-radio-after-bg-color: colors.$white !default;
$form-check-radio-after-width-sm: $form-check-input-width-sm - ($form-check-input-border-width * 2) !default;

$form-check-radio-checked-bg-color: transparent !default;
$form-check-radio-checked-after-border-radius: $form-check-radio-border-radius !default;
$form-check-radio-checked-after-width: math.div($form-check-input-width, 2) !default;
$form-check-radio-checked-after-border-color: colors.$primary !default;
$form-check-radio-checked-after-bg-color: colors.$primary !default;
$form-check-radio-checked-after-transition: border-color !default;
$form-check-radio-checked-focus-bg-color: transparent !default;

$form-check-radio-before-width-sm: $form-check-input-width-sm - ($form-check-input-border-width * 2) !default;
$form-check-radio-checked-after-width-sm: math.div($form-check-input-width-sm, 2) !default;
// scss-docs-end form-check-variables
