// Info block for form input.
@use "form-outline-input";
@use "typography";
@use "colors";

// Input info:
$form-input-info-color: colors.$gray-700 !default;
$form-input-info-font-size: typography.$font-size-sm !default;
$form-input-info-padding-x: form-outline-input.$form-outline-input-padding-x !default;
$form-input-info-margin-top: -1rem !default;
