// Select input.
@use "form-input-base";
@use "components";
@use "colors";
@use "borders";
@use "shadows";

// scss-docs-start form-select-variables
$form-select-padding-y: form-input-base.$input-padding-y !default;
$form-select-padding-x: form-input-base.$input-padding-x !default;
$form-select-font-family: form-input-base.$input-font-family !default;
$form-select-font-size: form-input-base.$input-font-size !default;
$form-select-indicator-padding: $form-select-padding-x * 3 !default; // Extra padding for background-image
$form-select-font-weight: form-input-base.$input-font-weight !default;
$form-select-line-height: form-input-base.$input-line-height !default;
$form-select-color: form-input-base.$input-color !default;
$form-select-bg: form-input-base.$input-bg !default;
$form-select-disabled-color: null !default;
$form-select-disabled-bg: colors.$gray-200 !default;
$form-select-disabled-border-color: form-input-base.$input-disabled-border-color !default;
$form-select-bg-position: right $form-select-padding-x center !default;
$form-select-bg-size: 16px 12px !default; // In pixels because image dimensions
$form-select-indicator-color: colors.$gray-800 !default;
$form-select-indicator: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><path fill='none' stroke='#{$form-select-indicator-color}' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/></svg>") !default;

$form-select-feedback-icon-padding-end: $form-select-padding-x * 2.5 + $form-select-indicator-padding !default;
$form-select-feedback-icon-position: center right $form-select-indicator-padding !default;
$form-select-feedback-icon-size: form-input-base.$input-height-inner-half form-input-base.$input-height-inner-half !default;

$form-select-border-width: form-input-base.$input-border-width !default;
$form-select-border-color: form-input-base.$input-border-color !default;
$form-select-border-radius: borders.$border-radius !default;
$form-select-box-shadow: shadows.$box-shadow-inset !default;

$form-select-focus-border-color: form-input-base.$input-focus-border-color !default;
$form-select-focus-box-shadow-width: form-input-base.$input-focus-box-shadow-width !default;
$form-select-focus-box-shadow-color: rgba(components.$component-active-bg, form-input-base.$input-focus-box-shadow-color-opacity) !default;
$form-select-focus-box-shadow: 0 0 0 $form-select-focus-box-shadow-width $form-select-focus-box-shadow-color !default;

$form-select-padding-y-sm: form-input-base.$input-padding-y-sm !default;
$form-select-padding-x-sm: form-input-base.$input-padding-x-sm !default;
$form-select-font-size-sm: form-input-base.$input-font-size-sm !default;

$form-select-padding-y-lg: form-input-base.$input-padding-y-lg !default;
$form-select-padding-x-lg: form-input-base.$input-padding-x-lg !default;
$form-select-font-size-lg: form-input-base.$input-font-size-lg !default;
// scss-docs-end form-select-variables
