@import "form-outline-input";

// Input info:
$form-outline-addon-color: $form-outline-label-color !default;
$form-outline-addon-bg: null !default;
$form-outline-addon-padding-x: 0.85rem !default;
$form-outline-addon-padding-y: 0 !default;
$form-outline-addon-min-width: 1.5rem !default;
