// Material design form input.

@import "colors";
@import "borders";
@import "buttons";
@import "form-input-base";

$from-outline-input-padding-top: $btn-padding-top !default;
$form-outline-input-padding-bottom: $btn-padding-bottom !default;
$form-outline-input-padding-x: 1rem !default;
$form-outline-input-font-size: $input-font-size !default;
$form-outline-input-line-height: $btn-line-height !default;
$form-outline-input-transition: all 0.2s linear !default;

$form-notch-div-border-color: $input-border-color !default;
$form-notch-leading-width: $form-outline-input-padding-x - 0.2rem !default;
$form-notch-border-radius: $input-border-radius !default;
$form-notch-middle-max-width: 1rem !default;

$form-outline-label-left: $form-outline-input-padding-x !default;
$form-outline-label-padding-top: $from-outline-input-padding-top * 1.075 !default;
$form-outline-label-transition: all 0.25s linear !default;
$form-outline-label-color: $input-placeholder-color !default;

// Focus & active:
$form-outline-active-label-transform: translateY(-1.32rem) scale(0.9) !default;
$form-outline-active-label-color: $primary !default;
$form-outline-focus-border-width: 0.125rem !default;

// Small size:
$form-outline-input-padding-x-sm: $form-outline-input-padding-x !default;
$form-outline-input-padding-top-sm: $btn-padding-top-sm !default;
$form-outline-input-padding-bottom-sm: $btn-padding-bottom-sm !default;
$form-outline-label-padding-top-sm: $form-outline-input-padding-top-sm !default;
$form-outline-label-font-size-sm: $input-font-size-sm !default;
$form-outline-active-label-transform-sm: translateY(-1rem) translateX(0.1rem) scale(0.9) !default;
$form-outline-input-font-size-sm: $input-font-size-sm !default;
$form-outline-input-line-height-sm: $btn-line-height-sm !default;
