// Form input as slider with several values.
@use "../functions/color-utils";
@use "colors";
@use "shadows";
@use "form-label";
@use "form-input-base";

// scss-docs-start form-range-variables
$form-range-padding-top: 0.5rem !default;
$form-range-padding-bottom: 0.25rem !default;
$form-range-min-max-value-label-below-padding-bottom: 1.25rem !default;

$form-range-track-width: 100% !default;
$form-range-track-height: 0.5rem !default;
$form-range-track-cursor: pointer !default;
$form-range-track-bg: colors.$gray-300 !default;
$form-range-track-border-radius: 1rem !default;
$form-range-track-box-shadow: shadows.$box-shadow-inset !default;

$form-range-label-color: form-label.$form-label-color !default;

$form-range-thumb-color: colors.$primary !default;
$form-range-thumb-width: 1rem !default;
$form-range-thumb-height: $form-range-thumb-width !default;
$form-range-thumb-bg: colors.$primary !default;
$form-range-thumb-border: 0 !default;
$form-range-thumb-border-radius: 1rem !default;
$form-range-thumb-box-shadow: none !default;
//$form-range-thumb-box-shadow: 0 0.1rem 0.25rem rgba($black, 0.1) !default;
$form-range-thumb-focus-box-shadow: none !default;
$form-range-thumb-focus-box-shadow-width: 0 !default;
//$form-range-thumb-focus-box-shadow: 0 0 0 1px $body-bg, $input-focus-box-shadow !default;
//$form-range-thumb-focus-box-shadow-width: $input-focus-width !default; // For focus box shadow issue in Edge
$form-range-thumb-active-bg: color-utils.tint-color($form-range-thumb-bg, 50%) !default;
$form-range-thumb-disabled-bg: colors.$gray-500 !default;
$form-range-thumb-transition: background-color 0.15s ease-in-out,
border-color 0.15s ease-in-out,
box-shadow 0.15s ease-in-out !default;

$form-range-selected-value-font-weight: 500 !default;
$form-range-selected-value-color: form-input-base.$input-color !default;
// scss-docs-end form-range-variables
