$note-padding: 10px !default;
$note-border-width: 6px !default;
$note-border-radius: 5px !default;
$note-strong-font-weight: 600 !default;
$note-paragraph-font-weight: 400 !default;
$note-paragraph-strong-font-weight: 500 !default;
