// React Calendar package styling.
@use "colors";
@use "borders";
@use "typography";
@use "body";

$react-calendar-border-color: borders.$border-color !default;
$react-calendar-font-family: typography.$font-family-base !default;
$react-calendar-width: 330px !default;
$react-calendar-width-mobile: 90vw !default;

$react-calendar-nav-button-height: 40px !default;
$react-calendar-nav-button-font-size: 2rem !default;
$react-calendar-nav-button-line-height: 20px !default;
$react-calendar-nav-button-padding-y: 5px !default;

$react-calendar-nav-label-font-size: 1.1rem !default;
$react-calendar-nav-label-line-height: 1.2 !default;

$react-calendar-tile-font-size: 1rem !default;
$react-calendar-tile-transition: background-color 0.2s linear, color 0.2s linear !default;
$react-calendar-tile-disabled-bg: colors.$gray-200 !default;
$react-calendar-tile-hover-bg: colors.$gray-300 !default;
$react-calendar-tile-today-bg: colors.$gray-200 !default;
$react-calendar-tile-today-hover-bg: colors.$gray-300 !default;

$react-calendar-tile-selected-color: colors.$white !default;
$react-calendar-tile-selected-bg: colors.$blue-600 !default;
$react-calendar-tile-selected-hover-bg: colors.$blue-400 !default;

$react-calendar-tile-selected-in-range-color: body.$body-color !default;
$react-calendar-tile-selected-in-range-bg: colors.$blue-100 !default;
$react-calendar-tile-selected-in-range-hover-bg: colors.$blue-200 !default;
$react-calendar-tile-in-range-bg: $react-calendar-tile-hover-bg !default;

$react-calendar-tile-neighboring-month-day-color: typography.$text-muted !default;
$react-calendar-tile-weekend-color: colors.$red !default;
$react-calendar-century-tile-padding: 1.25rem 0.5rem !default;
