// Section divider with optional label (alternative for <hr>).
@use "colors";

$section-divider-color: colors.$gray-700;
$section-divider-border-color: colors.$border-color;
$section-divider-border-color-darker: #BBB;
