// SVG Icons mixins.
@use "../functions/color-utils";
@use "../variables/features";

@mixin mdi-icon-color($color) {
    @if (features.$enable-mdi-svg-icons) {
        path {
            fill: $color;
        }
    }
}

@mixin custom-icon-color($color) {
    @if (features.$enable-custom-svg-icons) {
        &.colored-by-stroke g {
            stroke: $color;
        }

        &.colored-by-fill g {
            fill: $color;
        }

        // Изменить цвет только для fill='#000' и stroke='#000'
        &.colored-by-various {
            g,
            path,
            circle,
            ellipse,
            rect {
                &[fill='#000'] {
                    fill: $color;
                }
                &[stroke='#000'] {
                    stroke: $color;
                }
            }
        }
    }
}

@mixin contained-mdi-icon-color($color) {
    @if (features.$enable-mdi-svg-icons) {
        svg.mdi-icon {
            @include mdi-icon-color($color);
        }
    }
}

@mixin contained-mdi-icon-color-in-link($color, $hoverColor, $disabledColor) {
    @include contained-mdi-icon-color($color);

    @include contained-mdi-icon-color-in-link-for-states($hoverColor, $disabledColor);
}

@mixin contained-mdi-icon-color-in-link-for-states($hoverColor, $disabledColor) {
    &:hover,
    &:focus,
    &.active {
        @include contained-mdi-icon-color($hoverColor);
    }

    &.disabled,
    &[disabled] {
        @include contained-mdi-icon-color($disabledColor);
    }
}

@mixin contained-custom-svg-icon-color($color) {
    @if (features.$enable-custom-svg-icons) {
        svg.custom-icon {
            @include custom-icon-color($color);
        }
    }
}

@mixin contained-custom-svg-icon-color-in-link($color, $hoverColor, $disabledColor) {
    @include contained-custom-svg-icon-color($color);

    @include contained-custom-svg-icon-color-in-link-for-states($hoverColor, $disabledColor);
}

@mixin contained-custom-svg-icon-color-in-link-for-states($hoverColor, $disabledColor) {
    &:hover,
    &:focus,
    &.active {
        @include contained-custom-svg-icon-color($hoverColor);
    }

    &.disabled,
    &[disabled] {
        @include contained-custom-svg-icon-color($disabledColor);
    }
}

@mixin contained-mdi-icon-color-in-button($background) {
    &,
    &:hover,
    &:focus,
    &.disabled,
    &[disabled] {
        @include contained-mdi-icon-color(color-utils.color-contrast($background));
    }
}
