@use "../functions/color-utils";
@use "../variables/body";
@use "../variables/table";
@use "../variables/css-variables";

// scss-docs-start table-variant
@mixin table-variant($state, $background) {
    .table-#{$state} {
        $color: color-utils.color-contrast(color-utils.opaque(body.$body-bg, $background));
        $hover-bg: mix($color, $background, percentage(table.$table-hover-bg-factor));
        $striped-bg: mix($color, $background, percentage(table.$table-striped-bg-factor));
        $active-bg: mix($color, $background, percentage(table.$table-active-bg-factor));

        --#{css-variables.$variable-prefix}table-bg: #{$background};
        --#{css-variables.$variable-prefix}table-striped-bg: #{$striped-bg};
        --#{css-variables.$variable-prefix}table-striped-color: #{color-utils.color-contrast($striped-bg)};
        --#{css-variables.$variable-prefix}table-active-bg: #{$active-bg};
        --#{css-variables.$variable-prefix}table-active-color: #{color-utils.color-contrast($active-bg)};
        --#{css-variables.$variable-prefix}table-hover-bg: #{$hover-bg};
        --#{css-variables.$variable-prefix}table-hover-color: #{color-utils.color-contrast($hover-bg)};

        color: $color;
        border-color: mix($color, $background, percentage(table.$table-border-factor));
    }
}

// scss-docs-end table-variant

// scss-docs-start table-variant
// Todo: check if it actually affects anything
//@mixin table-variant-mdb($state, $background) {
//    .table-#{$state} {
//        background-color: $background;
//    }
//}
// scss-docs-end table-variant
