// Badge.
@use "sass:list";
@use "../functions/color-utils";
@use "../mixins/gradients";
@use "../mixins/border-radius";
@use "../mixins/rfs";
@use "../variables/features";
@use "../variables/badge";
@use "../variables/color-lists";
@use "../variables/color-contrast";

@if (features.$include-badge) {
    // Requires one of the contextual, color modifier classes for `color` and
    // `background-color`.
    .badge {
        display: inline-block;
        padding: badge.$badge-padding-y badge.$badge-padding-x;
        @include rfs.font-size(badge.$badge-font-size);
        font-weight: badge.$badge-font-weight;
        line-height: 1;
        color: badge.$badge-color;
        text-align: center;
        white-space: nowrap;
        vertical-align: baseline;
        @include border-radius.border-radius(badge.$badge-border-radius);
        @include gradients.gradient-bg();

        // Empty badges collapse automatically
        &:empty {
            display: none;
        }
    }

    %contrast-badge-color {
        color: badge.$badge-color-light-bg;
    }
    // Change text color for light backgrounds.
    @each $color-name, $bg-color in color-utils.filter-light-colors(color-lists.$bg-colors) {
        .badge.bg-#{$color-name} {
            @extend %contrast-badge-color;
        }
    }

    // Quick fix for badges in buttons
    .btn .badge {
        position: relative;
        top: -1px;
    }

    // MDB Additional styles

    .badge-dot {
        position: absolute;
        border-radius: badge.$badge-dot-border-radius;
        height: badge.$badge-dot-height;
        min-width: 0;
        padding: 0;
        width: badge.$badge-dot-width;
        margin-left: badge.$badge-dot-margin-left;

        &:empty {
            display: inline-block;
        }
    }

    .badge-notification {
        position: absolute;
        font-size: badge.$badge-notification-font-size;
        margin-top: badge.$badge-notification-margin-top;
        margin-left: badge.$badge-notification-margin-left;
        padding: badge.$badge-notification-padding-y badge.$badge-notification-padding-x;
    }
}

