// Компонент <Collapse>.
@use "../mixins/transition" as transition-mixins;
@use "../variables/transition";
@use "../variables/features";

@if (features.$include-collapse) {
    .collapsible {
        overflow: hidden;

        &.vertical {
            @include transition-mixins.transition(transition.$transition-collapse);

            &.opened:not(.transition) {
                height: auto !important;
            }
        }

        &.horizontal {
            @include transition-mixins.transition(transition.$transition-collapse-horizontal);

            &.opened:not(.transition) {
                width: auto !important;
            }
        }

        &.opened:not(.transition) {
            overflow: visible;
        }

        &.closed:not(.transition) {
            display: none;
        }
    }
}
