// Images previewer.
@use "../mixins/transition";
@use "../variables/colors";
@use "../variables/images-previewer";
@use "../variables/features";

@if (features.$include-images-previewer) {

    .images-previewer {
        width: 100%;
        flex-shrink: 0;

        .images-previewer-current-image {
            overflow: hidden;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            min-height: images-previewer.$images-previewer-current-image-min-height;
            width: 100%;
            cursor: pointer;

            img {
                width: 1px;
                height: 1px;
                position: absolute;
                left: -5px;
            }
        }

        .images-previewer-previews-list {
            .images-previewer-preview {
                width: 100%;
                min-width: images-previewer.$images-previewer-image-preview-min-width;
                height: images-previewer.$images-previewer-image-preview-height;
                overflow: hidden;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center center;
                cursor: pointer;
                position: relative;
                z-index: 1;
                border-radius: images-previewer.$images-previewer-image-preview-border-radius;

                &:last-child {
                    margin-right: 0 !important;
                }

                &:after {
                    content: '';
                    pointer-events: none;
                    position: absolute;
                    z-index: 2;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    border: images-previewer.$images-previewer-image-preview-active-border-width solid transparent;
                    border-radius: images-previewer.$images-previewer-image-preview-border-radius;
                    @include transition.transition(images-previewer.$images-previewer-image-preview-active-transition);
                }

                &.active {
                    &:after {
                        border-color: images-previewer.$images-previewer-image-preview-active-border-color;
                    }
                }

                img {
                    width: 1px;
                    height: 1px;
                    position: absolute;
                    left: -5px;
                }
            }
        }
    }

    .images-carousel-modal {
        .btn-close {
            position: absolute;
            top: 0;
            right: 0;
            z-index: 5;
            padding: images-previewer.$images-carousel-modal-close-button-padding;
            background-color: images-previewer.$images-carousel-modal-close-button-bg;
            border-radius: 0;
        }

        .modal-content {
            background-color: transparent;
            box-shadow: none;
            overflow: hidden;
        }

        .images-carousel-modal-image-container {
            width: 100%;
            height: 100vh;
            overflow: hidden;
        }

        .images-carousel-modal-image {
            width: 100%;
            height: images-previewer.$images-carousel-modal-image-height;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            img {
                max-height: images-previewer.$images-carousel-modal-image-height;
                max-width: 100%;
            }
        }
    }
}
