// Links
@use "../functions/color-utils";
@use "../variables/color-lists";
@use "../variables/links";
@use "../variables/features";

@if (features.$include-link) {
    a,
    .clickable {
        color: links.$link-color;
        text-decoration: links.$link-decoration;
        transition: links.$link-transition;

        &:hover {
            color: links.$link-hover-color;
            text-decoration: links.$link-hover-decoration;
        }

        &.disabled:not(.btn),
        &:disabled:not(.btn) {
            color: links.$link-disabled-color !important;
            cursor: not-allowed;
        }

        &[class*=text-]:not(.btn) {
            text-decoration: links.$link-variant-decoration;

            &:hover {
                text-decoration: links.$link-variant-hover-decoration;
            }

            &.active {
                color: links.$link-color !important;
            }
        }

        &.with-icon,
        &.with-icon-flex,
        &.with-icon[class*=text-]:not(.btn),
        &.with-icon-flex[class*=text-]:not(.btn) {
            text-decoration: none;

            &:hover {
                text-decoration: none;
            }
        }
    }

    .clickable {
        display: inline;
        position: static;
        cursor: pointer;
    }

    .stretched-link {
        &::#{links.$stretched-link-pseudo-element} {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: links.$stretched-link-z-index;
            content: '';
        }
    }

    //
    // Alternate colors
    //

    // scss-docs-start link-variant-loops
    @each $color, $value in color-lists.$link-colors {
        .link-#{$color} {
            color: $value;

            @if links.$link-shade-percentage != 0 {
                &:hover,
                &:focus {
                    color: color-utils.link-hover-color($value, links.$link-shade-percentage);
                }
            }
        }
    }
    // scss-docs-start link-variant-loops

    // And undo these styles for placeholder links/named anchors (without href).
    // It would be more straightforward to just use a[href] in previous block, but that
    // causes specificity issues in many other styles that are too complex to fix.
    // See https://github.com/twbs/bootstrap/issues/19402

    a:not([href]):not([class]) {
        &,
        &:hover {
            color: inherit;
            text-decoration: none;
        }
    }
}
