// Loading indicator.
@use "sass:math";
@use "../variables/loading-indicator";
@use "../variables/features";

@if (features.$include-loading-indicator) {

    .loading-indicator-enter,
    .loading-indicator-appear {
        opacity: 0;
    }

    .loading-indicator-enter-active,
    .loading-indicator-appear-active,
    .loading-indicator-enter-done,
    .loading-indicator-appear-done {
        transition: opacity 0.5s linear;
        opacity: 1;
    }

    .loading-indicator-exit {
        opacity: 1;
    }

    .loading-indicator-exit-active,
    .loading-indicator-exit-done {
        transition: opacity 0.5s linear;
        opacity: 0;

        &.hide-immediately {

            .loading-indicator {
                transition: none;
            }
        }
    }

    .loading-indicator-exit-done {
        display: none;
    }

    // spinner animation

    .loading-indicator-spinner-enter,
    .loading-indicator-spinner-appear {
        transform: scale(0);
        transform-origin: 50% 50%;
    }

    .loading-indicator-spinner-enter-active,
    .loading-indicator-spinner-appear-active,
    .loading-indicator-spinner-enter-done,
    .loading-indicator-spinner-appear-done {
        transition: transform 0.5s ease;
        transform: scale(1);
    }

    .loading-indicator-spinner-exit {
        transform: scale(1);
        transform-origin: 50% 50%;
    }

    .loading-indicator-spinner-exit-active,
    .loading-indicator-spinner-exit-done {
        transition: transform 0.5s ease;
        transform: scale(0);
    }

    // spin animation

    @keyframes loading-indicator-spinner-animation {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(359deg);
        }
    }

    // layout

    .loading-indicator-overlay {
        position: relative;
        min-height: loading-indicator.$loading-indicator-overlay-min-height;
        min-width: loading-indicator.$loading-indicator-overlay-min-width;
        z-index: loading-indicator.$loading-indicator-overlay-z-index;
        background-color: transparent;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &.fill-parent {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }

        &.floating {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            min-height: loading-indicator.$loading-indicator-overlay-floating-min-height;
        }

        &.with-background {

            &,
            &.solid-default {
                background-color: loading-indicator.$loading-indicator-overlay-default-bg;
            }

            &.semitransparent-default {
                background-color: loading-indicator.$loading-indicator-overlay-default-bg-semitransparent;
            }

            &.solid-white {
                background-color: loading-indicator.$loading-indicator-overlay-white-bg;
            }

            &.semitransparent-white {
                background-color: loading-indicator.$loading-indicator-overlay-white-bg-semitransparent;
            }
        }

        .loading-indicator {
            z-index: loading-indicator.$loading-indicator-z-index;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .loading-indicator-logo {
                position: relative;
                width: loading-indicator.$loading-indicator-logo-size;
                height: loading-indicator.$loading-indicator-logo-size;

                .loading-indicator-spinner-container {
                    position: absolute;
                    top: loading-indicator.$loading-indicator-logo-spinner-position-offset;
                    left: loading-indicator.$loading-indicator-logo-spinner-position-offset;

                    .loading-indicator-spinner {
                        width: loading-indicator.$loading-indicator-logo-spinner-outer-size;
                        height: loading-indicator.$loading-indicator-logo-spinner-outer-size;

                        &:before {
                            width: loading-indicator.$loading-indicator-logo-spinner-outer-size;
                            height: loading-indicator.$loading-indicator-logo-spinner-outer-size;
                            border-width: loading-indicator.$loading-indicator-logo-spinner-outer-border-width;
                            border-color: loading-indicator.$loading-indicator-with-logo-color;
                        }

                        &:after {
                            width: loading-indicator.$loading-indicator-logo-spinner-inner-size;
                            height: loading-indicator.$loading-indicator-logo-spinner-inner-size;
                            margin-top: loading-indicator.$loading-indicator-logo-spinner-inner-position-offset;
                            margin-left: loading-indicator.$loading-indicator-logo-spinner-inner-position-offset;
                            border-width: loading-indicator.$loading-indicator-logo-spinner-inner-border-width;
                            border-color: loading-indicator.$loading-indicator-with-logo-color;
                        }
                    }
                }
            }

            .loading-indicator-spinner-container {
                .loading-indicator-spinner {
                    position: relative;
                    width: loading-indicator.$loading-indicator-spinner-outer-size;
                    height: loading-indicator.$loading-indicator-spinner-outer-size;

                    &:before {
                        content: '';
                        position: absolute;
                        width: loading-indicator.$loading-indicator-spinner-outer-size;
                        height: loading-indicator.$loading-indicator-spinner-outer-size;
                        top: 50%;
                        left: 50%;
                        margin-top: -1 * math.div(loading-indicator.$loading-indicator-spinner-outer-size, 2);
                        margin-left: -1 * math.div(loading-indicator.$loading-indicator-spinner-outer-size, 2);
                        border: loading-indicator.$loading-indicator-spinner-outer-border-width solid loading-indicator.$loading-indicator-color;
                        border-radius: 50%;
                        border-left-color: transparent !important;
                        border-right-color: transparent !important;
                        animation: loading-indicator-spinner-animation loading-indicator.$loading-indicator-spinner-outer-animation-duration infinite linear;
                    }

                    &:after {
                        content: '';
                        position: absolute;
                        width: loading-indicator.$loading-indicator-spinner-inner-size;
                        height: loading-indicator.$loading-indicator-spinner-inner-size;
                        top: 50%;
                        left: 50%;
                        margin-top: -1 * math.div(loading-indicator.$loading-indicator-spinner-inner-size, 2);
                        margin-left: -1 * math.div(loading-indicator.$loading-indicator-spinner-inner-size, 2);
                        border: loading-indicator.$loading-indicator-spinner-inner-border-width solid loading-indicator.$loading-indicator-color;
                        border-radius: 50%;
                        border-left-color: transparent !important;
                        border-right-color: transparent !important;
                        animation: loading-indicator-spinner-animation loading-indicator.$loading-indicator-spinner-inner-animation-duration infinite linear;
                    }
                }
            }

            &.white {
                .loading-indicator-spinner-container {
                    .loading-indicator-spinner {
                        &:before,
                        &:after {
                            border-color: #FFFFFF;
                        }
                    }
                }
            }

            .loading-indicator-label {
                margin-top: 0.5rem;
                font-size: 1.25rem;
                color: loading-indicator.$loading-indicator-text-color;
            }

            &.with-logo {
                .loading-indicator-label {
                    color: loading-indicator.$loading-indicator-with-logo-text-color;
                }
            }
        }
    }

    // Обертка компонента <AsyncDataLoading/>.
    .async-data-loading-container {
        min-height: loading-indicator.$async-data-loading-container-height;
        transition: height 0.2s linear;
        position: relative;
        z-index: loading-indicator.$async-data-loading-container-z-index;
    }
}
