// Navigation panels.
// Kickstart any navigation component with a set of style resets.
// Works with `<nav>`s, `<ul>`s or `<ol>`s.
@use "../mixins/rfs";
@use "../mixins/border-radius";
@use "../mixins/gradients";
@use "../mixins/box-shadow";
@use "../mixins/transition";
@use "../variables/nav";
@use "../variables/features";
@use "../variables/links";
@use "../variables/buttons";

@if (features.$include-nav) {

    .nav {
        display: flex;
        flex-wrap: wrap;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
    }

    .nav-link {
        display: block;
        padding: nav.$nav-link-padding-y nav.$nav-link-padding-x;
        @include rfs.font-size(nav.$nav-link-font-size);
        font-weight: nav.$nav-link-font-weight;
        color: nav.$nav-link-color;
        text-decoration: if(links.$link-decoration == none, null, none);
        @include transition.transition(nav.$nav-link-transition);

        &:hover,
        &:focus {
            color: nav.$nav-link-hover-color;
            text-decoration: if(links.$link-hover-decoration == underline, none, null);
        }

        // Disabled state lightens text
        &.disabled {
            color: nav.$nav-link-disabled-color;
            pointer-events: none;
            cursor: default;
        }
    }

    //
    // Tabs
    //

    .nav-tabs {
        border-bottom: nav.$nav-tabs-border-width solid nav.$nav-tabs-border-color;

        .nav-link {
            @include border-radius.border-top-radius(nav.$nav-tabs-border-radius);
            background: none;
            border-width: nav.$nav-tabs-link-border-width;
            margin-bottom: nav.$nav-tabs-link-margin-bottom;
            border-style: solid;
            border-color: transparent;
            text-transform: nav.$nav-tabs-link-text-transform;
            line-height: nav.$nav-tabs-link-line-height;
            font-weight: nav.$nav-tabs-link-font-weight;
            @include rfs.font-size(nav.$nav-tabs-link-font-size);
            color: nav.$nav-tabs-link-color;
            padding: nav.$nav-tabs-link-padding-top nav.$nav-tabs-link-padding-x nav.$nav-tabs-link-padding-bottom nav.$nav-tabs-link-padding-x;

            &:hover,
            &:focus {
                border-color: nav.$nav-tabs-link-hover-border-color;
                background-color: nav.$nav-tabs-link-hover-bg;
                // Prevents active .nav-link tab overlapping focus outline of previous/next .nav-link
                isolation: isolate;
            }

            &.disabled {
                color: nav.$nav-link-disabled-color;
                background-color: transparent;
                border-color: transparent;
            }
        }

        .nav-link.active,
        .nav-item.show .nav-link {
            color: nav.$nav-tabs-link-active-color;
            background-color: nav.$nav-tabs-link-active-bg;
            border-color: nav.$nav-tabs-link-active-border-color;
        }

        .dropdown-menu {
            // Make dropdown border overlap tab border
            margin-top: nav.$nav-tabs-border-width * -1;
            // Remove the top rounded corners here since there is a hard edge above the menu
            @include border-radius.border-top-radius(0);
        }
    }

    //
    // Pills
    //

    .nav-pills {
        margin-left: nav.$nav-pills-margin * -1;

        .nav-link {
            border: 0;
            @include border-radius.border-radius(nav.$nav-pills-border-radius);
            @include rfs.font-size(nav.$nav-pills-link-font-size);
            text-transform: uppercase;
            padding: nav.$nav-pills-link-padding-top nav.$nav-pills-link-padding-x nav.$nav-pills-link-padding-bottom nav.$nav-pills-link-padding-x;
            line-height: nav.$nav-pills-link-line-height;
            background-color: nav.$nav-pills-link-bg;
            font-weight: nav.$nav-pills-link-font-weight;
            color: nav.$nav-pills-link-color;
            margin: nav.$nav-pills-margin;
        }

        .nav-link.active,
        .show > .nav-link {
            color: nav.$nav-pills-link-active-color;
            @include gradients.gradient-bg(nav.$nav-pills-link-active-bg);
            @include box-shadow.box-shadow(buttons.$btn-box-shadow);
        }
    }

    //
    // Justified variants
    //

    .nav-fill {
        > .nav-link,
        .nav-item {
            flex: 1 1 auto;
            text-align: center;
        }
    }

    .nav-justified {
        > .nav-link,
        .nav-item {
            flex-basis: 0;
            flex-grow: 1;
            text-align: center;
        }
    }

    .nav-fill,
    .nav-justified {
        .nav-item .nav-link {
            width: auto;
        }
    }

    // Tabbable tabs
    //
    // Hide tabbable panes to start, show them when `.active`

    .tab-content {
        > .tab-pane {
            display: none;
        }

        > .active {
            display: block;
        }
    }
}
