// Pagination.
@use "../mixins/gradients";
@use "../mixins/border-radius";
@use "../mixins/pagination" as pagination-mixins;
@use "../mixins/list";
@use "../mixins/transition";
@use "../variables/pagination";
@use "../variables/features";

@if (features.$include-pagination) {
    .pagination {
        display: flex;
        @include list.list-unstyled();
    }

    .page-link {
        position: relative;
        display: block;
        outline: 0;
        color: pagination.$pagination-color;
        text-decoration: pagination.$pagination-text-decoration;
        background-color: pagination.$pagination-bg;
        border: pagination.$pagination-border-width solid pagination.$pagination-border-color;
        @include transition.transition(pagination.$pagination-transition);

        &:hover {
            z-index: 2;
            color: pagination.$pagination-hover-color;
            text-decoration: pagination.$pagination-hover-text-decoration;
            background-color: pagination.$pagination-hover-bg;
            border-color: pagination.$pagination-hover-border-color;
        }

        &:focus {
            z-index: 3;
            color: pagination.$pagination-focus-color;
            background-color: pagination.$pagination-focus-bg;
            outline: pagination.$pagination-focus-outline;
            box-shadow: pagination.$pagination-focus-box-shadow;
        }
    }

    .page-item {
        &:not(:first-child) .page-link {
            margin-left: pagination.$pagination-margin-start;
        }

        &.active .page-link {
            z-index: 3;
            color: pagination.$pagination-active-color;
            @include gradients.gradient-bg(pagination.$pagination-active-bg);
            border-color: pagination.$pagination-active-border-color;
            box-shadow: pagination.$pagination-active-box-shadow;
            @include transition.transition(pagination.$pagination-active-transition);
        }

        &.disabled .page-link {
            color: pagination.$pagination-disabled-color;
            pointer-events: none;
            background-color: pagination.$pagination-disabled-bg;
            border-color: pagination.$pagination-disabled-border-color;
        }
    }

    .pagination-circle {
        .page-item {
            &:first-child {
                .page-link {
                    @include border-radius.border-radius(pagination.$pagination-circle-border-radius);
                }
            }

            &:last-child {
                .page-link {
                    @include border-radius.border-radius(pagination.$pagination-circle-border-radius);
                }
            }
        }

        .page-link {
            @include border-radius.border-radius(pagination.$pagination-circle-border-radius);
            padding-left: pagination.$pagination-circle-padding-x;
            padding-right: pagination.$pagination-circle-padding-x;
        }

        &.pagination-lg {
            .page-link {
                padding-left: pagination.$pagination-circle-lg-padding-left;
                padding-right: pagination.$pagination-circle-lg-padding-right;
            }
        }

        &.pagination-sm {
            .page-link {
                padding-left: pagination.$pagination-circle-sm-padding-left;
                padding-right: pagination.$pagination-circle-sm-padding-right;
            }
        }
    }

    //
    // Sizing
    //
    @include pagination-mixins.pagination-size(
            pagination.$pagination-padding-y,
            pagination.$pagination-padding-x,
            pagination.$pagination-font-size,
            pagination.$pagination-border-radius
    );

    .pagination-lg {
        @include pagination-mixins.pagination-size(
                pagination.$pagination-padding-y-lg,
                pagination.$pagination-padding-x-lg,
                pagination.$pagination-font-size-lg,
                pagination.$pagination-border-radius-lg
        );
    }

    .pagination-sm {
        @include pagination-mixins.pagination-size(
                pagination.$pagination-padding-y-sm,
                pagination.$pagination-padding-x-sm,
                pagination.$pagination-font-size-sm,
                pagination.$pagination-border-radius-sm
        );
    }
}
