// Rating stars.
@use "../mixins/svg-icons";
@use "../variables/rating-stars";
@use "../variables/features";

@if (features.$include-rating-stars) {
    .rating-stars {

        .rating-stars-star {
            @include svg-icons.contained-mdi-icon-color(rating-stars.$rating-stars-static-icon-color);
            line-height: rating-stars.$rating-stars-line-height;

            > svg {
                vertical-align: top;
            }
        }

        &.interactive {

            .rating-stars-star {
                cursor: pointer;

                @include svg-icons.contained-mdi-icon-color-in-link(
                        rating-stars.$rating-stars-interactive-inactive-icon-color,
                        rating-stars.$rating-stars-interactive-active-icon-color,
                        rating-stars.$rating-stars-interactive-disabled-icon-color
                )
            }
        }
    }
}
