@import "../mixins/ripple";
@import "../variables/color-lists";
@import "../variables/features";

@if ($include-ripple) {
    .ripple-surface {
        position: relative;
        overflow: hidden;
        display: inline-block;
        vertical-align: bottom;
    }

    .ripple-surface-unbound {
        overflow: visible;
    }

    .ripple-waves-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        touch-action: none;
        pointer-events: none;
        overflow: hidden;

        .ripple-surface-unbound & {
            overflow: visible;
        }
    }

    .ripple-wave {
        @include ripple-variant(black);
        $cubicBezier: cubic-bezier(0, 0, 0.15, 1);
        border-radius: 50%;
        opacity: 0.5;
        pointer-events: none;
        position: absolute;
        touch-action: none;
        transform: scale(0);
        transition-property: transform, opacity;
        transition-timing-function: $cubicBezier, $cubicBezier;
        z-index: 999;

        &.active {
            transform: scale(1);
            opacity: 0;
        }
    }

    .btn .ripple-wave {
        @include ripple-variant(white);
    }

    @each $color, $value in $button-colors {
        .ripple-surface-#{$color} {
            .ripple-wave {
                @include ripple-variant($value);
            }
        }
    }
}
