// Section divider with optional label (<hr> alternative).
@use "../variables/section-divider";
@use "../variables/colors";
@use "../variables/features";

@if (features.$include-section-divider) {
    .section-divider {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        color: section-divider.$section-divider-color;

        span {
            white-space: nowrap;
            display: block;
            padding-left: 0.5rem;
            padding-right: 0.5rem;
        }

        &:before,
        &:after {
            content: "";
            display: block;
            flex: 1;
            height: 0;
            border-top: 1px solid section-divider.$section-divider-border-color;
        }

        &.darker {
            &:before,
            &:after {
                border-top-color: section-divider.$section-divider-border-color-darker;
            }
        }
    }
}
