// Toast messages.
@use "../variables/toasts";
@use "../variables/features";

@if (features.$include-toast) {
    .notyf {

        .notyf__toast {
            background-color: toasts.$toast-default-bg;

            &.notyf__toast--success {
                background-color: toasts.$toast-success-bg;
            }

            &.notyf__toast--error {
                background-color: toasts.$toast-error-bg;
            }
        }

        .notyf__ripple {
            display: none;
        }
    }
}
