// Tooltip.
@use "sass:math";
@use "../mixins/rfs";
@use "../mixins/reset-text";
@use "../mixins/border-radius";
@use "../mixins/gradients";
@use "../variables/z-index";
@use "../variables/tooltip";
@use "../variables/color-lists";
@use "../variables/features";

@if (features.$include-tooltip) {
    // Base class
    .tooltip {
        position: absolute;
        z-index: z-index.$z-index-tooltip;
        display: block;
        margin: tooltip.$tooltip-margin;
        // Our parent element can be arbitrary since tooltips are by default inserted as a sibling of their target element.
        // So reset our font and text properties to avoid inheriting weird values.
        @include reset-text.reset-text();
        // Allow breaking very long words so they don't overflow the tooltip's bounds
        word-wrap: break-word;
        opacity: 0;
        @include rfs.font-size(tooltip.$tooltip-font-size);

        &.show {
            opacity: tooltip.$tooltip-opacity;
        }
    }

    // Wrapper for the tooltip content
    .tooltip-inner {
        max-width: tooltip.$tooltip-max-width;
        padding: tooltip.$tooltip-inner-padding-y tooltip.$tooltip-inner-padding-x;
        color: tooltip.$tooltip-inner-color;
        text-align: center;
        @include gradients.gradient-bg(tooltip.$tooltip-inner-bg);
        @include border-radius.border-radius(tooltip.$tooltip-inner-border-radius);
    }

    //
    // Alternate tooltip text colors
    //

    // scss-docs-start tooltip-text-variant-loops
    @each $color, $value in color-lists.$tooltip-text-colors {
        .tooltip-text-#{$color} {
            color: $value;
        }
    }
    // scss-docs-end tooltip-text-variant-loops
}
