@use '../functions/color-utils';
@use '../variables/colors';
@use '../variables/color-lists';

$demo-primary-colors: (
    'primary': colors.$primary,
    'secondary': colors.$secondary,
    'success': colors.$success,
    'info': colors.$info,
    'warning': colors.$warning,
    'danger': colors.$danger,
    'light': colors.$light,
    'dark': colors.$dark,
) !default;

/*
Usage example:
@use 'swayok-react-mdb-ui-kit/styles/functions';
@use 'swayok-react-mdb-ui-kit/styles/variables/color-lists';
@use 'swayok-react-mdb-ui-kit/styles/demo/colors-demo' with (
    $demo-test-palette: color-utils.generate-color-palette(
        colors.$blue-500,
        20%,
        20%,
        color-utils.shade-color(colors.$blue-500, 60%)
    ),
    $demo-test-compare-palette: color-lists.$palette-blue,
);
*/
$demo-test-palette: color-utils.generate-color-palette(
        colors.$blue-500,
        20%,
        20%,
        color-utils.shade-color(colors.$blue-500, 60%)
) !default;
$demo-test-compare-palette: color-lists.$palette-blue !default;

$demo-palettes: (
    'gray': color-lists.$palette-gray,
    'blue': color-lists.$palette-blue,
    'indigo': color-lists.$palette-indigo,
    'purple': color-lists.$palette-purple,
    'pink': color-lists.$palette-pink,
    'red': color-lists.$palette-red,
    'orange': color-lists.$palette-orange,
    'yellow': color-lists.$palette-yellow,
    'green': color-lists.$palette-green,
    'teal': color-lists.$palette-teal,
    'cyan': color-lists.$palette-cyan,
    'deep-purple': color-lists.$palette-deep-purple,
    'light-blue': color-lists.$palette-light-blue,
    'light-green': color-lists.$palette-light-green,
    'lime': color-lists.$palette-lime,
    'amber': color-lists.$palette-amber,
    'deep-orange': color-lists.$palette-deep-orange,
    'brown': color-lists.$palette-brown,
    'blue-gray': color-lists.$palette-blue-gray,
    '': $demo-primary-colors,
    'test-compare': $demo-test-compare-palette,
    'test': $demo-test-palette,
) !default;

@mixin color-variant($color-name, $color-variant, $color) {
    .color-variant-#{$color-variant} {
        display: grid;
        height: 26px;
        $var-name: if($color-name != '', "$#{$color-name}-#{$color-variant}", "$#{$color-variant}");
        $var-and-color: "#{$var-name}: #{color-utils.convert-color-to-hex($color)};";
        @debug $var-and-color;

        .color-in-bg {
            background-color: $color;
        }

        .color-in-text:after {
            content: "This is a sample";
            color: $color;
        }

        .color-variable:after {
            content: "#{$var-and-color}";
        }

        .color-hash:after {
            content: "#{$color}";
        }
    }
}

.color-palette-demo {
    [class*="color-variant-"] {
        display: none;
        position: relative;
        grid-template-columns: 90px 120px 120px 130px 130px 130px 130px 200px;
        grid-column-gap: 12px;

        .color-variable,
        .color-in-text,
        .color-in-bg {
            position: relative;
            width: 100%;
            z-index: 1;
            user-select: all;

            &:after {
                position: relative;
                display: inline-block;
                white-space: nowrap;
                z-index: 2;
                user-select: all;
            }
        }

        .color-variable {
            border-left: 1px solid colors.$gray-400;
            padding-left: 16px;
            margin-left: 8px;
        }

        .color-in-text.black-bg {
            background-color: #000000;
            padding-left: 8px;
            padding-right: 8px;
        }

        .color-in-text.dark-bg {
            background-color: colors.$gray-700;
            padding-left: 8px;
            padding-right: 8px;
        }

        .color-in-text.gray-bg {
            background-color: colors.$gray-500;
            padding-left: 8px;
            padding-right: 8px;
        }

        .color-in-text.light-bg {
            background-color: colors.$gray-300;
            padding-left: 8px;
            padding-right: 8px;
        }
    }
}

.color-palette-demo {
    @each $color-name, $variants in $demo-palettes {
        &.#{if($color-name == '', 'primary-colors', $color-name)} {
            @debug "==============================";
            @debug "Color pallete: #{$color-name}";
            @debug "==============================";
            @each $color-variant, $color in $variants {
                @include color-variant(
                        $color-name,
                        $color-variant,
                        $color
                );
            }
            @debug "==============================";
        }
    }
}
