// File picker with previews.
@use "../../mixins/transition";
@use "../../mixins/svg-icons";
@use "../../variables/colors";
@use "../../variables/shadows";
@use "../../variables/form-file-picker";
@use "../../variables/features";

@if (features.$include-forms-and-inputs and features.$include-file-picker-input) {

    // Прикрепление файлов: отображение прикрепленных файлов
    .file-picker-previews-container {

        &.d-flex {
            column-gap: 1rem;
            row-gap: 1.5rem;
        }

        &.file-picker-previews-scale-on-hover {
            .file-picker-preview-wrapper {
                &:hover,
                &.active {
                    z-index: form-file-picker.$file-picker-preview-hover-z-index;
                }
            }

            a.file-picker-preview-scaler {
                outline: none !important;
                @include transition.transition(form-file-picker.$file-picker-preview-transition);

                &:hover,
                &.active {
                    // При наведении на удалённую картинку нужно убрать изменение opacity.
                    opacity: 1 !important;
                }
            }

            .file-picker-preview-delete,
            .file-picker-preview-restore {
                @include transition.transition(form-file-picker.$file-picker-preview-transition);

                &:hover {
                    opacity: 1 !important;
                }
            }

            &.without-info .file-picker-preview-wrapper {
                &:hover,
                &.active {
                    .file-picker-preview-delete,
                    .file-picker-preview-restore {
                        opacity: 0;
                    }
                }
            }

            .file-picker-preview {
                @include transition.transition(form-file-picker.$file-picker-preview-hover-transition);
            }

            .file-picker-preview:hover,
            &.active .file-picker-preview {
                transform: form-file-picker.$file-picker-preview-hover-transform;
                transform-origin: form-file-picker.$file-picker-preview-hover-transform-origin;
            }
        }

        .file-picker-preview {
            display: block;
            border-radius: form-file-picker.$file-picker-preview-border-radius;
            background: form-file-picker.$file-picker-preview-bg;
            box-shadow: shadows.$box-shadow-2-strong;

            canvas {
                border-radius: form-file-picker.$file-picker-preview-border-radius;
            }

            .file-picker-preview-image {
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center center;
                pointer-events: none;
            }
        }

        .file-picker-preview-delete,
        .file-picker-preview-restore {
            position: absolute;
            width: form-file-picker.$file-picker-preview-button-width;
            height: form-file-picker.$file-picker-preview-button-width;
            top: form-file-picker.$file-picker-preview-button-offset;
            right: form-file-picker.$file-picker-preview-button-offset;
            z-index: 2;

            // Фон под иконку для лучшей видимости
            &:after {
                content: '';
                z-index: 1;
                position: absolute;
                display: block;
                width: form-file-picker.$file-picker-preview-button-underlay-width;
                height: form-file-picker.$file-picker-preview-button-underlay-width;
                top: 50%;
                left: 50%;
                margin-top: form-file-picker.$file-picker-preview-button-underlay-offset;
                margin-left: form-file-picker.$file-picker-preview-button-underlay-offset;
                background: form-file-picker.$file-picker-preview-button-underlay-bg;
                border-radius: 50%;
            }

            svg {
                z-index: 2;
            }
        }

        .file-picker-previews-adder {
            border-radius: form-file-picker.$file-picker-preview-border-radius;
            border: form-file-picker.$file-picker-previews-adder-border;
            color: form-file-picker.$file-picker-previews-adder-color;
            text-decoration: none;
            @include transition.transition(form-file-picker.$file-picker-previews-adder-transition);

            &:hover {
                color: form-file-picker.$file-picker-previews-adder-hover-color;
                border-color: form-file-picker.$file-picker-previews-adder-hover-border-color;
                text-decoration: none;
            }

            &.disabled {
                color: form-file-picker.$file-picker-previews-adder-disabled-color;
                border-color: form-file-picker.$file-picker-previews-adder-disabled-border-color;
            }

            @include svg-icons.contained-mdi-icon-color-in-link(
                    form-file-picker.$file-picker-previews-adder-color,
                    form-file-picker.$file-picker-previews-adder-hover-color,
                    form-file-picker.$file-picker-previews-adder-disabled-color
            )
        }

        &.file-picker-previews-white-bg {
            .file-picker-preview {
                background-color: form-file-picker.$file-picker-previews-with-white-bg;
                box-shadow: shadows.$box-shadow-3;
            }
        }

        .drag-and-drop-item {
            &.drag-and-drop-toggler,
            .drag-and-drop-toggler {
                cursor: move;
            }

            &.drag-and-drop-current {
                .file-picker-preview {
                    transform: scale(1) !important;
                    @include transition.transition(none !important);
                }
            }

            &.drag-and-drop-over {
                position: relative;

                &:before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: form-file-picker.$file-picker-previews-drag-and-drop-item-over-indicator-left;
                    height: 100%;
                    width: form-file-picker.$file-picker-previews-drag-and-drop-item-over-indicator-width;
                    background-color: form-file-picker.$file-picker-previews-drag-and-drop-item-over-indicator-color;
                }
            }
        }
    }
}
