// Floating labels inside input fields.
@use "../../mixins/transition";
@use "../../variables/form-input-base";
@use "../../variables/form-floating";
@use "../../variables/features";

@if (features.$include-forms-and-inputs and features.$include-form-floating-labels) {
    .form-floating {
        position: relative;

        > .form-control,
        > .form-select {
            height: form-floating.$form-floating-height;
            padding: form-floating.$form-floating-padding-y form-floating.$form-floating-padding-x;
        }

        > label {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%; // allow text areas
            padding: form-floating.$form-floating-padding-y form-floating.$form-floating-padding-x;
            pointer-events: none;
            border: form-input-base.$input-border-width solid transparent; // Required for aligning label's text with the input as it affects inner box model
            transform-origin: 0 0;
            @include transition.transition(form-floating.$form-floating-transition);
        }

        // stylelint-disable no-duplicate-selectors
        > .form-control {
            &::placeholder {
                color: transparent;
            }

            &:focus,
            &:not(:placeholder-shown) {
                padding-top: form-floating.$form-floating-input-padding-t;
                padding-bottom: form-floating.$form-floating-input-padding-b;
            }

            // Duplicated because `:-webkit-autofill` invalidates other selectors when grouped
            &:-webkit-autofill {
                padding-top: form-floating.$form-floating-input-padding-t;
                padding-bottom: form-floating.$form-floating-input-padding-b;
            }
        }

        > .form-select {
            padding-top: form-floating.$form-floating-input-padding-t;
            padding-bottom: form-floating.$form-floating-input-padding-b;
        }

        > .form-control:focus,
        > .form-control:not(:placeholder-shown),
        > .form-select {
            ~ label {
                opacity: form-floating.$form-floating-label-opacity;
                transform: form-floating.$form-floating-label-transform;
            }
        }

        // Duplicated because `:-webkit-autofill` invalidates other selectors when grouped
        > .form-control:-webkit-autofill {
            ~ label {
                opacity: form-floating.$form-floating-label-opacity;
                transform: form-floating.$form-floating-label-transform;
            }
        }

        // stylelint-enable no-duplicate-selectors
    }
}
