// Inline form.
@use "sass:math";
@use "../../mixins/buttons";
@use "../../variables/form-inline";
@use "../../variables/features";

@if (features.$include-forms-and-inputs and features.$include-form-inline) {
    .form-inline {
        display: flex;
        flex-direction: row;
        align-items: start;
        justify-content: start;
        gap: form-inline.$inline-form-items-gap;

        .form-outline {
            margin-bottom: 0 !important;
        }

        .btn {
            min-height: form-inline.$inline-form-item-min-height;

            &.btn-sm {
                min-height: form-inline.$inline-form-item-min-height-sm;
            }

            &.btn-lg {
                min-height: form-inline.$inline-form-item-min-height-lg;
            }
        }
    }
}
