// Date input.
@use "../../variables/form-input-base";
@use "../../variables/form-outline-input";
@use "../../variables/features";

@if (features.$include-forms-and-inputs and features.$include-date-input) {
    // Поле выбора даты и времени.
    .form-date-input {

        .dropdown-toggle {
            position: relative;

            input.form-control {
                &,
                &[readonly]:not(:disabled) {
                    background-color: form-input-base.$input-bg;
                    cursor: pointer;
                    padding-right: 30px;
                }

                &[disabled] {
                    cursor: not-allowed;
                    background-color: form-input-base.$input-disabled-bg;
                }

                &.empty-value:focus {
                    ~ .form-label {
                        transform: none;
                        color: form-outline-input.$form-outline-label-color;
                    }

                    ~ .form-notch .form-notch-middle {
                        width: 0 !important;
                        transition: none !important;
                    }
                }
            }
        }

        .dropdown-menu {
            &.fade-out {
                animation-duration: 0s;
            }

            &.fade-in {
                animation-duration: 0.4s;
            }

            .react-calendar {
                border: 0 none;
            }
        }
    }
}
