// Form input addon for Form Outline styled inputs.
@use "../../variables/form-input-addon";
@use "../../variables/features";

@if (features.$include-forms-and-inputs and features.$include-form-input-addon) {
    .form-outline {
        .form-input-addon-text {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            background: form-input-addon.$form-outline-addon-bg;
            padding: form-input-addon.$form-outline-addon-padding-y form-input-addon.$form-outline-addon-padding-x;
            color: form-input-addon.$form-outline-addon-color;

            .form-input-addon-text-content {
                min-width: form-input-addon.$form-outline-addon-min-width;
                text-align: center;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-end;
            }
        }
    }
}
