// Inlined form inputs and buttons.
@use "sass:math";
@use "../../mixins/buttons";
@use "../../variables/form-inline";
@use "../../variables/features";

@if (features.$include-forms-and-inputs and features.$include-form-inline) {
    .form-inline {
        display: flex;
        flex-direction: row;
        align-items: start;
        justify-content: start;
        row-gap: form-inline.$inline-form-items-row-gap;
        column-gap: form-inline.$inline-form-items-column-gap;

        .btn {
            min-height: form-inline.$inline-form-item-min-height;
            padding-top: form-inline.$inline-form-btn-padding-y;
            padding-bottom: form-inline.$inline-form-btn-padding-y;
            white-space: form-inline.$inline-form-btn-white-space;
            flex-shrink: 0;

            &.btn-sm {
                min-height: form-inline.$inline-form-item-min-height-sm;
                padding-top: form-inline.$inline-form-btn-padding-y-sm;
                padding-bottom: form-inline.$inline-form-btn-padding-y-sm;
            }

            &.btn-lg {
                min-height: form-inline.$inline-form-item-min-height-lg;
                padding-top: form-inline.$inline-form-btn-padding-y-lg;
                padding-bottom: form-inline.$inline-form-btn-padding-y-lg;
            }
        }
    }
}
