// File input as a button.
@use "../../mixins/gradients";
@use "../../mixins/transition";
@use "../../variables/form-input-base";
@use "../../variables/form-file-button";
@use "../../variables/buttons";
@use "../../variables/features";

@if (features.$include-forms-and-inputs and features.$include-file-upload-button-input) {
    .form-control {
        // File input buttons theming
        &::file-selector-button,
        &::-webkit-file-upload-button {
            padding: form-input-base.$input-padding-y form-input-base.$input-padding-x;
            margin: (form-input-base.$input-padding-y * -1) (form-input-base.$input-padding-x * -1);
            margin-inline-end: form-input-base.$input-padding-x;
            color: form-file-button.$form-file-button-color;
            @include gradients.gradient-bg(form-file-button.$form-file-button-bg);
            pointer-events: none;
            border-color: inherit;
            border-style: solid;
            border-width: 0;
            border-inline-end-width: form-input-base.$input-border-width;
            border-radius: 0; // stylelint-disable-line property-disallowed-list
            @include transition.transition(buttons.$btn-transition);
        }

        &:hover:not(:disabled):not([readonly])::file-selector-button {
            background-color: form-file-button.$form-file-button-hover-bg;
        }

        &:hover:not(:disabled):not([readonly])::-webkit-file-upload-button {
            background-color: form-file-button.$form-file-button-hover-bg;
        }
    }
}
