// Material styles for form control - form outline.
@use "../../mixins/svg-icons";
@use "../../variables/features";
@use "../../variables/form-outline-input";
@use "../../variables/form-input-base";

@if (features.$include-forms-and-inputs and features.$include-form-outline) {
    .form-outline {
        position: relative;

        .form-control {
            min-height: form-outline-input.$form-outline-input-min-height;
            padding: form-outline-input.$form-outline-input-padding-top form-outline-input.$form-outline-input-padding-x form-outline-input.$form-outline-input-padding-bottom;
            border: 0;
            background: form-outline-input.$form-outline-input-bg;
            transition: form-outline-input.$form-outline-input-transition;
            font-size: form-outline-input.$form-outline-input-font-size;
            line-height: form-outline-input.$form-outline-input-line-height;

            ~ .form-label {
                position: absolute;
                top: 0;
                max-width: 90%;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                left: form-outline-input.$form-outline-label-left;
                padding-top: form-outline-input.$form-outline-label-padding-top;
                pointer-events: none;
                transform-origin: 0 0;
                transition: form-outline-input.$form-outline-label-transition;
                color: form-outline-input.$form-outline-label-color;
                margin-bottom: 0;
            }

            ~ .form-notch {
                display: flex;
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                max-width: 100%;
                height: 100%;
                text-align: left;
                pointer-events: none;

                div {
                    pointer-events: none;
                    border: form-outline-input.$form-notch-div-border-width solid form-outline-input.$form-notch-div-border-color;
                    box-sizing: border-box;
                    background: transparent;
                }

                .form-notch-leading {
                    left: 0;
                    top: 0;
                    height: 100%;
                    width: form-outline-input.$form-notch-leading-width;
                    border-right: none;
                    border-radius: form-outline-input.$form-notch-border-radius 0 0 form-outline-input.$form-notch-border-radius;
                }

                .form-notch-middle {
                    flex: 0 0 auto;
                    width: auto;
                    max-width: calc(100% - #{form-outline-input.$form-notch-middle-max-width});
                    height: 100%;
                    border-right: none;
                    border-left: none;
                }

                .form-notch-trailing {
                    flex-grow: 1;
                    height: 100%;
                    border-left: none;
                    border-radius: 0 form-outline-input.$form-notch-border-radius form-outline-input.$form-notch-border-radius 0;
                }
            }

            &:not(.placeholder-active)::placeholder {
                opacity: 0;
            }

            &:focus,
            &.active {
                &::placeholder {
                    opacity: 1;
                }
            }

            &:focus {
                box-shadow: none !important;
            }

            &:focus ~ .form-label,
            &.active ~ .form-label {
                transform: form-outline-input.$form-outline-active-label-transform;
            }

            &:focus ~ .form-label {
                color: form-outline-input.$form-outline-active-label-color;
            }

            &:focus ~ .form-notch .form-notch-middle,
            &.active ~ .form-notch .form-notch-middle {
                border-top: none;
                border-right: none;
                border-left: none;
                transition: form-input-base.$input-transition;
            }

            &:focus ~ .form-notch .form-notch-middle {
                border-bottom: form-outline-input.$form-outline-focus-border-width solid;
                border-color: form-input-base.$input-focus-border-color;
            }

            &:focus ~ .form-notch .form-notch-leading,
            &.active ~ .form-notch .form-notch-leading {
                border-right: none;
                transition: form-input-base.$input-transition;
            }

            &:focus ~ .form-notch .form-notch-leading {
                border-top: form-outline-input.$form-outline-focus-border-width solid form-input-base.$input-focus-border-color;
                border-bottom: form-outline-input.$form-outline-focus-border-width solid form-input-base.$input-focus-border-color;
                border-left: form-outline-input.$form-outline-focus-border-width solid form-input-base.$input-focus-border-color;
            }

            &:focus ~ .form-notch .form-notch-trailing,
            &.active ~ .form-notch .form-notch-trailing {
                border-left: none;
                transition: form-input-base.$input-transition;
            }

            &:focus ~ .form-notch .form-notch-trailing {
                border-top: form-outline-input.$form-outline-focus-border-width solid form-input-base.$input-focus-border-color;
                border-bottom: form-outline-input.$form-outline-focus-border-width solid form-input-base.$input-focus-border-color;
                border-right: form-outline-input.$form-outline-focus-border-width solid form-input-base.$input-focus-border-color;
            }

            &.active ~ .form-label.unlimited-width {
                width: auto !important;
                max-width: none !important;
                z-index: 2;
            }

            &:disabled,
            &.disabled,
            &[readonly] {
                background-color: form-input-base.$input-disabled-bg;
            }

            &.no-label::placeholder {
                color: form-input-base.$input-placeholder-color;
                opacity: 1;
            }

            &.form-control-lg {
                font-size: form-input-base.$input-font-size;
                line-height: form-input-base.$input-line-height;
            }

            &.form-control-sm {
                min-height: form-outline-input.$form-outline-input-min-height-sm;
                padding: form-outline-input.$form-outline-input-padding-top-sm form-outline-input.$form-outline-input-padding-x-sm form-outline-input.$form-outline-input-padding-bottom-sm;
                font-size: form-outline-input.$form-outline-input-font-size-sm;
                line-height: form-outline-input.$form-outline-input-line-height-sm;

                ~ .form-label {
                    padding-top: form-outline-input.$form-outline-label-padding-top-sm;
                    font-size: form-outline-input.$form-outline-label-font-size-sm;
                }

                &:focus ~ .form-label,
                &.active ~ .form-label {
                    transform: form-outline-input.$form-outline-active-label-transform-sm;
                }
            }
        }

        // Имитация поля ввода.
        &.readonly-pseudoinput {
            position: relative;

            div.form-control {
                background-color: form-input-base.$input-bg;
                cursor: pointer;
                line-height: 1.3; //< needed to fix 40.5 height instead of 40.0

                &.disabled {
                    cursor: not-allowed;
                    background-color: form-input-base.$input-disabled-bg;
                }

                &.with-chevron {
                    padding-right: 30px;
                }

                > span {
                    vertical-align: middle;
                }
            }

            .chevron {
                position: absolute;
                right: 6px;
                top: 50%;
                margin-top: -10px;
                @include svg-icons.mdi-icon-color(form-input-base.$input-readonly-chevron-color);
            }
        }

        .form-outline-textarea-wrapper {
            border-radius: form-outline-input.$form-notch-border-radius;
            overflow: hidden;

            &.focus ~ .form-label {
                color: form-outline-input.$form-outline-active-label-color;
                transform: form-outline-input.$form-outline-active-label-transform
            }

            &.form-control-sm.focus ~ .form-label {
                transform: form-outline-input.$form-outline-active-label-transform-sm
            }
        }

        &.form-white {
            .form-control {
                color: form-input-base.$form-white-input-color;

                ~ .form-label {
                    color: form-input-base.$form-white-label-color;
                }

                ~ .form-notch {
                    div {
                        border-color: form-input-base.$form-white-notch-div-border-color;
                    }
                }

                &:focus ~ .form-label {
                    color: form-input-base.$form-white-input-focus-label-color;
                }

                &:focus ~ .form-notch .form-notch-middle {
                    border-color: form-input-base.$form-white-input-focus-border-color;
                }

                &:focus ~ .form-notch .form-notch-leading {
                    border-top: form-outline-input.$form-outline-focus-border-width solid form-input-base.$form-white-input-focus-border-color;
                    border-bottom: form-outline-input.$form-outline-focus-border-width solid form-input-base.$form-white-input-focus-border-color;
                    border-left: form-outline-input.$form-outline-focus-border-width solid form-input-base.$form-white-input-focus-border-color;
                }

                &:focus ~ .form-notch .form-notch-trailing {
                    border-color: form-input-base.$form-white-input-focus-border-color;
                }
            }
        }
    }
}
