@import "../../mixins/gradients";
@import "../../mixins/transition";
@import "../../variables/form-file-button";
@import "../../variables/buttons";
@import "../../variables/features";

@if ($include-forms-and-inputs and $include-file-upload-button-input) {
    .form-control {
        // File input buttons theming
        &::file-selector-button,
        &::-webkit-file-upload-button {
            padding: $input-padding-y $input-padding-x;
            margin: (-$input-padding-y) (-$input-padding-x);
            margin-inline-end: $input-padding-x;
            color: $form-file-button-color;
            @include gradient-bg($form-file-button-bg);
            pointer-events: none;
            border-color: inherit;
            border-style: solid;
            border-width: 0;
            border-inline-end-width: $input-border-width;
            border-radius: 0; // stylelint-disable-line property-disallowed-list
            @include transition($btn-transition);
        }

        &:hover:not(:disabled):not([readonly])::file-selector-button {
            background-color: $form-file-button-hover-bg;
        }

        &:hover:not(:disabled):not([readonly])::-webkit-file-upload-button {
            background-color: $form-file-button-hover-bg;
        }
    }
}
