// Date input.
@use "../../variables/form-input-base";
@use "../../variables/features";

@if (features.$include-forms-and-inputs and features.$include-date-input) {
    // Поле выбора даты и времени.
    .form-date-input {

        .dropdown-toggle {
            position: relative;

            input,
            input[readonly] {
                background-color: form-input-base.$input-bg;
                cursor: pointer;
                padding-right: 30px;
            }

            input[disabled] {
                cursor: not-allowed;
                background-color: form-input-base.$input-disabled-bg;
            }

            .calendar-icon {
                pointer-events: none;
            }
        }

        .dropdown-menu {
            &.fade-out {
                animation-duration: 0s;
            }

            &.fade-in {
                animation-duration: 0.4s;
            }

            .react-calendar {
                border: 0 none;
            }
        }
    }
}
