@import "../../mixins/svg-icons";
@import "../../variables/form-input-base";
@import "../../variables/form-label";
@import "../../variables/form-dropdown-select";
@import "../../variables/dropdown";
@import "../../variables/features";

@if ($include-forms-and-inputs and $include-dropdown-select-input) {

    // <FormSelect> и <FormSelectBasic> - выбор значения из выпадающего списка.
    .form-dropdown-select {

        .dropdown-toggle {
            position: relative;

            input,
            input[readonly] {
                background-color: $input-bg;
                cursor: pointer;
                padding-right: $form-dropdown-select-padding-right;
                user-select: none;
            }

            input[disabled] {
                cursor: not-allowed;
                background-color: $input-disabled-bg;
            }
        }

        &:not(.mode-inline) {
            .chevron {
                position: absolute;
                right: $form-dropdown-select-chevron-offset-x;
                top: 50%;
                margin-top: -12px;
                @include mdi-icon-color($form-dropdown-select-chevron-color);
            }
        }

        .dropdown-menu {
            &.form-dropdown-select-menu-dropup-offset {
                inset: auto auto $form-dropdown-select-dropup-offset 0 !important;
            }

            .dropdown-item {
                border-radius: 0;

                &.empty-option {
                    color: $form-dropdown-select-empty-option-color;
                }
            }

            .dropdown-item.active {
                background-color: $dropdown-item-active-bg;
            }
        }

        .dropdown-item {

            &.form-multiselect-dropdown-option {
                &.disabled,
                &[disabled] {
                    pointer-events: auto;
                }
            }

            &:not(.form-multiselect-dropdown-option):not(.text-*) {
                @include contained-mdi-icon-color-in-link(
                        $dropdown-item-color !important,
                        $dropdown-item-color !important,
                        $dropdown-item-disabled-color !important
                );
                @include contained-custom-svg-icon-color-in-link(
                        $dropdown-item-color !important,
                        $dropdown-item-color !important,
                        $dropdown-item-disabled-color !important
                );
            }
        }

        input.empty-option-selected {
            color: $form-dropdown-select-empty-option-selected-color;
        }
    }
}
