// Form checkbox styled as on-off switch.
@use "sass:math";
@use "../../mixins/transition";
@use "../../mixins/form-check-and-switch";
@use "../../variables/form-switch";
@use "../../variables/color-lists";
@use "../../variables/features";

@if (features.$include-forms-and-inputs and features.$include-form-switch) {
    .form-switch {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        padding-top: form-switch.$form-switch-padding-y;
        padding-bottom: form-switch.$form-switch-padding-y;

        .form-switch-input {
            flex-shrink: 0;
        }

        .form-check-label {
            margin-left: form-switch.$form-switch-label-margin;
        }

        .form-validation-container & {
            + .form-validation-error-container .invalid-feedback {
                padding-left: form-switch.$form-switch-input-width + form-switch.$form-switch-label-margin;
            }
        }

        &.label-before-input {
            .form-check-label {
                margin-left: 0;
                margin-right: form-switch.$form-switch-label-margin;
            }

            .form-check-input {
                margin-left: 0;
            }

            .form-validation-container & {

                + .form-validation-error-container .invalid-feedback {
                    padding-left: 0;
                }
            }
        }
    }

    .form-switch-input {
        position: relative;
        vertical-align: top;
        width: form-switch.$form-switch-input-width;
        height: form-switch.$form-switch-input-height;
        border: 0 none;
        background-color: form-switch.$form-switch-track-bg-color;
        // Требуется чтобы исправить отображение переключателя поверх
        // всплывающего меню и других компонентов отображаемых над переключателем.
        z-index: 0;
        appearance: none;
        print-color-adjust: exact; // Keep themed appearance for print
        border-radius: form-switch.$form-switch-input-border-radius;
        cursor: pointer;
        @include transition.transition(form-switch.$form-switch-transition);

        &:after {
            // Переключатель (двигающийся круг).
            content: '';
            position: absolute;
            border: none;
            z-index: 2;
            border-radius: form-switch.$form-switch-toggler-border-radius;
            width: form-switch.$form-switch-toggler-width;
            height: form-switch.$form-switch-toggler-width;
            background-color: form-switch.$form-switch-toggler-bg-color;
            margin-top: form-switch.$form-switch-toggler-margin-top;
            box-shadow: form-switch.$form-switch-toggler-box-shadow;
            @include transition.transition(form-switch.$form-switch-toggler-transition);
        }

        &:focus:after,
        &:active:after {
            background-color: form-switch.$form-switch-toggler-focus-bg-color;
            border-radius: form-switch.$form-switch-toggler-focus-border-radius;
            width: form-switch.$form-switch-toggler-focus-width;
            height: form-switch.$form-switch-toggler-focus-width;
            box-shadow: form-switch.$form-switch-toggler-focus-box-shadow;
            opacity: form-switch.$form-switch-toggler-focus-opacity;
        }

        &:checked {
            background-color: form-switch.$form-switch-track-checked-bg-color;

            &:after {
                background-color: form-switch.$form-switch-toggler-checked-bg-color;
                margin-left: form-switch.$form-switch-toggler-checked-margin-left;
            }

            &:focus:after,
            &:active:after {
                background-color: form-switch.$form-switch-toggler-checked-focus-bg-color;
                opacity: form-switch.$form-switch-toggler-checked-focus-opacity;
            }
        }

        &:disabled {
            pointer-events: none;
            filter: none;
            opacity: form-switch.$form-switch-input-disabled-opacity;
        }

        // Use disabled attribute in addition of :disabled pseudo-class
        // See: https://github.com/twbs/bootstrap/issues/28247
        &[disabled],
        &:disabled {
            ~ .form-check-label {
                opacity: form-switch.$form-switch-label-disabled-opacity;
            }
        }
    }

    @each $color, $value in color-lists.$form-checkbox-colors {
        .form-switch-#{$color} {
            @include form-check-and-switch.form-switch-color($value);
        }
    }
}
