// Form Labels
@use "../../mixins/rfs";
@use "../../functions/calc-utils";
@use "../../variables/form-input-base";
@use "../../variables/form-label";
@use "../../variables/features";

@if (features.$include-forms-and-inputs and features.$include-form-labels) {
    .form-label {
        margin-bottom: form-label.$form-label-margin-bottom;
        font-style: form-label.$form-label-font-style;
        font-weight: form-label.$form-label-font-weight;
        color: form-label.$form-label-color;
        @include rfs.font-size(form-label.$form-label-font-size);
    }

    // For use with horizontal and inline forms, when you need the label (or legend)
    // text to align with the form controls.
    .col-form-label {
        padding-top: calc-utils.add(form-input-base.$input-padding-y, form-input-base.$input-border-width);
        padding-bottom: calc-utils.add(form-input-base.$input-padding-y, form-input-base.$input-border-width);
        margin-bottom: 0; // Override the `<legend>` default
        font-style: form-label.$form-label-font-style;
        font-weight: form-label.$form-label-font-weight;
        line-height: form-input-base.$input-line-height;
        color: form-label.$form-label-color;
        @include rfs.font-size(inherit); // Override the `<legend>` default
    }

    .col-form-label-lg {
        padding-top: calc-utils.add(form-input-base.$input-padding-y-lg, form-input-base.$input-border-width);
        padding-bottom: calc-utils.add(form-input-base.$input-padding-y-lg, form-input-base.$input-border-width);
        @include rfs.font-size(form-input-base.$input-font-size-lg);
    }

    .col-form-label-sm {
        padding-top: calc-utils.add(form-input-base.$input-padding-y-sm, form-input-base.$input-border-width);
        padding-bottom: calc-utils.add(form-input-base.$input-padding-y-sm, form-input-base.$input-border-width);
        @include rfs.font-size(form-input-base.$input-font-size-sm);
    }
}
